@{
    ViewBag.Title = "CreateRoom";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<link href="~/Content/css/Step.css" rel="stylesheet" />
<div ng-controller="CreateRoomController">
    <div class="col-md-9 col-lg-9 col-xs-12">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
                <li>Đăng tin miễn phí</li>
            </ul>
        </div>
        <div class="bannercollection">
            <img style="width:100%" src="//bizweb.dktcdn.net/100/109/381/themes/161997/assets/img_collection.jpg?1492597369483" alt="Tất cả sản phẩm">
        </div>
        <div class="panel panel-reservas panel-pasos" style="margin-top:20px;">
            <div class="paso active col-lg-4" ng-class="{'active' : isActive=='1'}" id="paso1" title="Find the best deal">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-stack-1x">1</i>
                </span>
                <span class="text">Liên Hệ</span>
            </div>
            <div class="paso col-lg-4" ng-class="{'active' : isActive=='2'}" id="paso2" title="Make a booking">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-stack-1x">2</i>
                </span>
                <span class="text">Nội dung</span>
            </div>
            <div class="paso col-lg-4" ng-class="{'active' : isActive=='3'}" id="paso3" title="Confirm your order">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-stack-1x">3</i>
                </span>
                <span class="text">Xác nhận</span>
            </div>
        </div>
        <div class="step step1" id="formStep1" ng-show="isActive=='1'">
            <div class="steps_header">Thông tin liên hệ&nbsp;<span class="steps_header_notice">(Vui lòng điền đầy đủ tất cả các mục)</span></div>
            <div class="col-lg-8">
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Tên</label>
                    <div class="col-lg-9 no-padding">
                        <input class="form-control"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập tên của bạn"
                               id="userName"
                               ng-model="rooms.FullName"
                               placeholder="Tên của tôi là:"
                               name="userName" type="text">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="password"> Email *</label>
                    <div class="col-lg-9 no-padding">
                        <input id="password"
                               data-fv-stringlength="true"
                               data-fv-stringlength-max="250"
                               data-fv-stringlength-message="Tiêu đề chỉ được 250 ký tự"
                               data-fv-notempty="true"
                               data-fv-emailaddress="true"
                               data-fv-emailaddress-message="Bạn phải nhập đúng định dạng Email"
                               ng-model="rooms.Email"
                               placeholder="Email của tôi là:"
                               data-fv-notempty-message="Vui lòng nhập Email"
                               name="password" type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="confirm">Số điện thoại *</label>
                    <div class="col-lg-9 no-padding">
                        <input id="phone"
                               name="phone"
                               type="text"
                               ng-model="rooms.Phone"
                               data-fv-integer-message="Bạn phải nhập đúng số điện thoại"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập số điện thoại"
                               placeholder="Số điện thoại của tôi là:"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="confirm">Địa chỉ *</label>
                    <div class="col-lg-9 no-padding">
                        <input id="adress"
                               name="adress"
                               ng-model="rooms.Address"
                               type="text"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập địa chỉ"
                               placeholder="(ghi rõ số nhà, ngõ, phố, phường, quận để khách hàng dễ tìm thấy)"
                               class="form-control">
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="quick-fill">
                    <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Tôi đã từng đăng tin trên phongtot.vn, hãy giúp tôi</span></div>
                    <div class="input">
                        <button class="quick-fill-infor btn" ng-click="GetUserLogin();"><i class="fa fa-pencil" style="margin-right:10px;" aria-hidden="true"></i>Điền nhanh thông tin</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    <div class="control-label">Kéo thả vị trí trên bản đồ để chỉnh địa điểm chính xác hơn</div>
                    <fieldset class="gllpLatlonPicker">
                        <input type="text" class="gllpSearchField form-control" style="width:300px;float:left;margin-bottom:15px;margin-right:15px;" value="">
                        <input type="button" class="gllpSearchButton btn btn-sm btn-success" value="Tìm vị trí">
                        <div class="gllpMap" style="height:300px;">Google Maps</div>
                        <input type="hidden" id="Lat" name="location[N]" ng-model="rooms.Lat" class="gllpLatitude" value="{{rooms.Lat}}" />
                        <input type="hidden" id="Lng" name="location[E]" ng-model="rooms.Lng" class="gllpLongitude" value="{{rooms.Lng}}" />
                        <input type="hidden" class="gllpZoom" value="15" />
                        <input type="hidden" class="gllpUpdateButton" value="update map">
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:20px;">
                <div class="form-group clearfix">
                    <button class="btn btn-success btn-sm" style="float:right;" ng-click="nextStep(1);"><i class="fa fa-step-forward" style="margin-right:10px;" aria-hidden="true"></i>Tiếp Tục</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step step2" id="formStep2" ng-show="isActive=='2'">
            <div class="steps_header">Nội dung tin&nbsp;<span class="steps_header_notice">(Vui lòng điền đầy đủ tất cả các mục)</span></div>
            <div class="col-lg-8">
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Danh Mục</label>
                    <div class="col-lg-9 no-padding">
                        <select id="search_room_type"
                                ng-model="rooms.RoomTypeID"
                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                class="form-control"
                                data-fv-notempty="true"
                                data-fv-notempty-message="Vui lòng chọn danh mục"
                                name="Roomtype">
                            <option value="">--Chọn danh mục--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Tiêu đề:</label>
                    <div class="col-lg-9  no-padding">
                        <input class="form-control"
                               data-fv-stringlength="true"
                               data-fv-stringlength-min="20"
                               data-fv-stringlength-message="Tiêu đề phải dài hơn 20 và dưới 250 ký tự"
                               data-fv-stringlength-max="250"
                               ng-model="rooms.RoomName"
                               ng-change="GetSeoTitle();"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập tiêu đề tin của bạn"
                               placeholder="Tiêu đề phải dài hơn 20 kí tự"
                               name="title" type="text">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Ảnh đại diện:</label>
                    <div class="col-lg-5  no-padding">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 100%; height: 115px;">
                                <img src="/Content/img/img_code.jpg" />
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 100%; height: 115px;"></div>
                            <div>
                                <span class="btn btn-success btn-xs btn-file">
                                    <span class="fileinput-new"><i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>Chọn ảnh</span>
                                    <span class="fileinput-exists"><i class="fa fa-wrench" style="margin-right:5px;" aria-hidden="true"></i>Thay đổi</span>
                                    <input type="file" name="Image" ng-file-select="prepareFiles($files)">
                                </span>
                                <a href="#" class="btn btn-danger btn-xs fileinput-exists" data-dismiss="fileinput"><i class="fa fa-trash-o" aria-hidden="true" style="margin-right:5px;"></i>Xóa</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  no-padding">
                        <div class="quick-fill">
                            <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Ảnh đẹp sẽ giúp tăng truy cập vào bài đăng của bạn</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select class="form-control"
                                data-fv-notempty="true"
                                data-fv-notempty-message="Vui lòng chọn Tỉnh/Thành Phố"
                                name="provinceid"
                                ng-model="rooms.provinceid"
                                ng-change="GetAllDistrict(rooms.provinceid)"
                                ng-options="option.provinceid as option.name for option in data.lstProvince">
                            <option value="">--Chọn Tỉnh/Thành Phố--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select id="search_room_type" ng-model="rooms.districtid" ng-change="GetAllWard(rooms.districtid)" ng-options="option.districtid as option.name for option in data.lstDistrict" class="form-control" name="type">
                            <option value="">--Chọn Quận/Huyện--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select id="search_room_type" ng-model="rooms.wardid" ng-options="option.wardid as option.name for option in data.lstWard" class="form-control" name="type">
                            <option value="">--Chọn Xã/Phường--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="price"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập giá tiền"
                               data-fv-integer="true"
                               ng-model="rooms.Price"
                               data-fv-integer-message="Bạn phải nhập kiểu số"
                               min="0" max="99999999999999999"
                               data-fv-between-message="Gía tiền phải lớn hơn 0"
                               placeholder="Giá tiền"
                               name="price" type="number">
                        @*<span class="input-group-addon">đ/tháng</span>*@
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="Acreage"
                               ng-model="rooms.Acreage"
                               data-fv-integer="true"
                               data-fv-integer-message="Bạn phải nhập kiểu số"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập diện tích"
                               min="0" max="99999999999999999"
                               data-fv-between-message="Gía tiền phải lớn hơn 0"
                               placeholder="Diện tích"
                               name="Acreage" type="number">
                        @*<span class="input-group-addon">M<sup>2</sup></span>*@
                    </div>
                </div>
            </div>
            <input class="form-control"
                   ng-model="rooms.Alias" type="hidden">
            <div class="col-lg-12" style="padding-bottom:15px;">
                <div class="form-group clearfix">
                    <label class="col-lg-2 control-label " for="userName">Tag sản phẩm:</label>
                    <div class="col-lg-10 no-padding">
                        <input class="form-control"
                               ng-model="rooms.Tags"
                               placeholder="Sử dụng dấu phẩy để phân biệt giữa các tags"
                               name="tag" type="text">
                    </div>
                </div>
                <label class="col-lg-2 control-label " for="userName">Nội Dung</label>
                <div class="col-lg-10 no-padding">
                    <textarea ng-model="rooms.Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="steps_header">Thông tin thêm&nbsp;<span class="steps_header_notice">(Vui lòng điền đầy đủ tất cả các mục)</span></div>
            <div class="col-lg-8">
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Tầng</label>
                    <div class="col-lg-9  no-padding">
                        <select id="search_room_type" ng-model="rooms.MoreInfomations.FloorNumber" class="form-control">
                            <option value="">--Chọn Tầng--</option>
                            <option value="Tầng 1">Tầng 1</option>
                            <option value="Tầng 2">Tầng 2</option>
                            <option value="Tầng 3">Tầng 3</option>
                            <option value="Tầng 4">Tầng 4</option>
                            <option value="Tầng 5">Tầng 5</option>
                            <option value="Chưa xác định">Chưa xác định</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Vệ Sinh</label>
                    <div class="col-lg-9  no-padding">
                        <select id="search_room_type" ng-model="rooms.MoreInfomations.ToiletNumber" class="form-control">
                            <option value="">--Vệ Sinh--</option>
                            <option value="Khép kín">Khép kín</option>
                            <option value="Chung">Chung</option>
                            <option value="Chưa xác định">Chưa xác định</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Số người ở</label>
                    <div class="col-lg-9  no-padding">
                        <select id="search_room_type" ng-model="rooms.MoreInfomations.BedroomNumber" class="form-control">
                            <option value="">--Số người ở tối đa--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">Chưa xác định</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="ElectricPrice"
                               ng-model="rooms.MoreInfomations.ElectricPrice"
                               placeholder="Giá điện"
                               name="ElectricPrice" type="number">
                        <span class="input-group-addon">đ/tháng</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="WaterPrice"
                               ng-model="rooms.MoreInfomations.WaterPrice"
                               placeholder="Giá nước"
                               name="WaterPrice" type="number">
                        <span class="input-group-addon">đ/tháng</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <div ng-dropdown-multiselect=""
                             options="LstConvenient"
                             selected-model="ConvenientModel"
                             extra-settings="MultiselectSettings">
                        </div>
                        @*<select id="search_room_type" class="form-control" name="type">
                            <option value="">--Tiện ích--</option>
                            <option value="Phòng trọ, nhà trọ">Phòng trọ, nhà trọ</option>
                            <option value="Nhà thuê nguyên căn">Nhà thuê nguyên căn</option>
                            <option value="Cho thuê căn hộ">Cho thuê căn hộ</option>
                            <option value="Tìm bạn ở ghép">Tìm bạn ở ghép</option>
                            <option value="Cho thuê mặt bằng">Cho thuê mặt bằng</option>
                        </select>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    <label class="col-lg-2 control-label " for="userName">Ảnh:</label>
                    <div class="col-lg-10 no-padding">
                        <ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods">
                            <div class="dz-default dz-message">
                                <span>Đăng nhiều hình thật nhanh bằng cách kéo và thả hình vào khung này hoặc nhấn nút phía trên rồi chọn nhiều hình cùng lúc</span>
                            </div>
                        </ng-dropzone>
                    </div>
                </div>
            </div>           
            <div class="col-lg-12" style="margin-top:20px;">
                <div class="form-group clearfix">
                    <button class="btn btn-default btn-sm" style="float:left;" ng-click="previousStep(1);"><i class="fa fa-step-backward" style="margin-right:10px;" aria-hidden="true"></i>Quay lại</button>
                    <button class="btn btn-success btn-sm" style="float:right;" ng-click="nextStep(2);"><i class="fa fa-step-forward" style="margin-right:10px;" aria-hidden="true"></i>Tiếp Tục</button>
                </div>
            </div>

        </div>
        <div class="step step3" ng-show="isActive=='3'">
            <div class="steps_header">Xác nhận thông tin&nbsp;<span class="steps_header_notice"></span></div>
            <div class="col-lg-12">
                <div class="quick-fill">
                    <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Chú ý: Đăng tin hoàn toàn miễn phí, nhưng nếu bạn muốn tin đăng được ưu tiên và có nhiều người xem hơn thì bạn nên sử dụng các dịch vụ dưới đây</span></div>
                </div>
                <div class="checkbox checkbox-success">
                    <input type="checkbox" ng-model="isHotnew" ng-change="onShowhotrom();">
                    <label> Đưa tin đăng lên trang nhất của chuyên mục <a>(Tìm hiểu thêm)</a></label>
                </div>
                <div class="checkbox checkbox-success" style="margin-top:20px;">
                    <input type="checkbox">
                    <label>Hiển thị tin đăng trong mục Tin đăng được tài trợ <a>(Tìm hiểu thêm)</a></label>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:20px;">
                <div class="form-group clearfix">
                    <button class="btn btn-default btn-sm" style="float:left;" ng-click="previousStep(2);"><i class="fa fa-step-backward" style="margin-right:10px;" aria-hidden="true"></i>Quay lại</button>
                    <button class="btn btn-success btn-sm" style="float:right;" ng-click="nextStep(3);"><i class="fa fa-step-forward" style="margin-right:10px;" aria-hidden="true"></i>Đăng Tin</button>
                </div>
            </div>
        </div>
        <div class="step step4" ng-show="isActive=='4'">
            <div class="steps_header">Đăng Tin Thành Công&nbsp;<span class="steps_header_notice"></span></div>
            <div class="row thankyou-infos">
                <div class="col-md-12 thankyou-message">
                    <div class="thankyou-message-icon unprint">
                        <div class="icon icon--order-success svg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                                <g fill="none" stroke="#8EC343" stroke-width="2">
                                    <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                    <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="thankyou-message-text">
                        <h3>Cảm ơn bạn đã đăng tin thành công</h3>
                        <p>
                            Một email xác nhận đã được gửi tới {{roomInfomation.Email}}. Xin vui lòng kiểm tra email của bạn
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 customer-info">
                    <div id="map"></div>
                    <div class="shipping-info">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="order-summary order-summary--white no-border no-padding-top">
                                    <div class="order-summary-header">
                                        <h2>
                                            <label class="control-label">Thông tin liên hệ</label>
                                        </h2>
                                    </div>
                                    <div class="summary-section no-border no-padding-top">
                                        <p>
                                            Tên:{{roomInfomation.FullName}}
                                        </p>
                                        <p>
                                            Email:{{roomInfomation.Email}}
                                        </p>
                                        <p>
                                            Số điện thoại:{{roomInfomation.Phone}}
                                        </p>
                                        <p>
                                            Địa chỉ:{{roomInfomation.Address}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="order-summary order-summary--white no-border">
                                    <div class="order-summary-header">
                                        <h2>
                                            <label class="control-label">Nội dung</label>
                                        </h2>
                                    </div>
                                    <div class="summary-section no-border no-padding-top">
                                        <p>
                                            Tiêu đề:{{roomInfomation.RoomName}}
                                        </p>
                                        <p>
                                            Giá tiền:{{roomInfomation.Price|number}}vnđ
                                        </p>

                                        <p>
                                            Diện tích: {{roomInfomation.Acreage}}m2
                                        </p>
                                        <p>
                                            Ngày đăng:{{roomInfomation.CreateDate|date}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-success unprint">
                        <a href="/" class="btn btn-primary">
                            <i class="fa fa-reply-all" style="margin-right:15px;" aria-hidden="true"></i> Trở về trang chủ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12" ng-controller="searchController">
        <div class="row" style="margin-top:55px;">
            <div class="clearfix"></div>
            <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
                <div class="box-search-sidebar">
                    <div class="title_st">
                        <h2>
                            <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                            Tìm kiếm
                        </h2>
                    </div>
                    <div class="box_search">
                        <div class="col-lg-12 margin-bottom-15 categories margin-top-10">
                            <input type="text" placeholder="Từ khóa tìm kiếm......" ng-model="keywords.Keywords" class="form-control" style="height: 40px;border-radius: 0px;" />
                        </div>
                        <div class="col-lg-12 margin-bottom-15 categories">
                            <select ui-select2="select2Options"
                                    ng-model="keywords.RoomType"
                                    ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                    data-placeholder="Chọn loại phòng">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-lg-12 margin-bottom-15 categories">
                            <select ui-select2="select2Options"
                                    ng-model="keywords.Province"
                                    ng-change="GetAllDistrict(keywords.Province)"
                                    ng-options="option.provinceid as option.name for option in data.lstProvince"
                                    data-placeholder="Chọn Tỉnh/TP">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-lg-12 margin-bottom-15 categories">
                            <select ui-select2="select2Options"
                                    ng-model="keywords.District"
                                    ng-change="GetAllWard(keywords.District)"
                                    ng-options="option.districtid as option.name for option in data.lstDistrict"
                                    data-placeholder="Chọn Quận/Huyện">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-lg-12 margin-bottom-15 categories">
                            <select ui-select2="select2Options"
                                    ng-model="keywords.Ward"
                                    ng-options="option.wardid as option.name for option in data.lstWard"
                                    data-placeholder="Chọn Phường/Xã">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-lg-12 margin-bottom-15 categories">
                            <p style="margin-bottom:0px">
                                <label for="amount" style="color:#fff;">Khoảng giá:</label>
                                <span id="amount_2" style="border:0; color:#fff; font-weight:bold;">{{slider.minValue}} triệu đến {{slider.maxValue}}triệu</span>
                            </p>
                            <rzslider rz-slider-model="slider.minValue" style="margin-top:0px"
                                      rz-slider-high="slider.maxValue"
                                      rz-slider-options="slider.options"></rzslider>
                        </div>
                        <div class="col-lg-12 margin-bottom-15 categories">
                            <button type="button" ng-click="Search();" style="width:100%" class="wpresidence_button"><i class="fa fa-search" style="margin-right:15px" aria-hidden="true"></i>Tìm Kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
                <div class="widget_bestsellers">
                    <div class="title_st">
                        <h2>
                            <span class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></span>
                            Tin tức
                        </h2>
                    </div>
                    <div class="box_produt_hot">
                        <ul class="available_pc">

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                    </div>
                                </div>
                            </li>
                            <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads nopadding-xs hidden-xs hidden-sm margin-bottom-20" style="margin-top:20px;">
                <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ModalLogin.html">
    <div class="modal-header popup_header">
        <button aria-label="Close" data-dismiss="modal" ng-click="close();" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title popup_title" id="messageDel">
            <img src="/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
        </h4>
    </div>
    <div class="line_orn"></div>
    <div class="modal-body login">
        <div class="container-fluid">
            <div class="box">
                <div class="content">
                    <div class="social">
                        <a id="google_login" class="circle google" href="#">
                            <i class="fa fa-google-plus fa-fw"></i>
                        </a>
                        <a id="facebook_login" class="circle facebook" href="#">
                            <i class="fa fa-facebook fa-fw"></i>
                        </a>
                    </div>
                    <div class="division">
                        <div class="line l"></div>
                        <span>Hoặc</span>
                        <div class="line r"></div>
                    </div>
                    <div class="form loginBox">
                        <div id="formLogin" class="">
                            <div class="col-lg-12 form-group no-padding">
                                <input id="email"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập Email"
                                       data-fv-emailaddress="true"
                                       data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                       ng-model="account.Email"
                                       class="form-control"
                                       type="text"
                                       placeholder="Tên tài khoản"
                                       name="email">
                            </div>
                            <div class="col-lg-12 form-group no-padding">
                                <input id="password"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                       ng-model="account.Password"
                                       class="form-control"
                                       type="password"
                                       placeholder="Mật khẩu"
                                       name="password">

                            </div>
                        </div>
                        <input class="btn btn-default btn-login" ng-click="ok();" type="button" value="Đăng Nhập">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer login">
        <div class="forgot login-footer" style="display: block;">
            <span>
                <a href="javascript: showRegisterForm();">Tạo tài khoản</a>
                ?
            </span>
        </div>
        <div class="forgot register-footer" style="display: none;">
            <span>Already have an account?</span>
            <a href="javascript: showLoginForm();">Đăng Nhập</a>
        </div>
    </div>
</script>
<style>
    #map {
        height: 300px;
        width: 100%;
        position: relative;
    }
</style>