@{
    ViewBag.Title = "CreateRoom";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<link href="~/Content/css/Step.css" rel="stylesheet" />
<div class="row" ng-controller="CreateRoomController">
    <div class="col-lg-9">
        <div class="panel panel-reservas panel-pasos" style="margin-top:20px;">
            <div class="paso active col-lg-4" ng-class="{'active' : isActive=='1'}" id="paso1" title="Find the best deal">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-stack-1x">1</i>
                </span>
                <span class="text">Liên Hệ</span>
            </div>
            <div class="paso col-lg-4" ng-class="{'active' : isActive=='2'}" id="paso2" title="Make a booking">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-stack-1x">2</i>
                </span>
                <span class="text">Nội dung</span>
            </div>
            <div class="paso col-lg-4" ng-class="{'active' : isActive=='3'}" id="paso3" title="Confirm your order">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inverse fa-stack-1x">3</i>
                </span>
                <span class="text">Xác nhận</span>
            </div>
        </div>
        <div class="step step1" id="formStep1" ng-show="isActive=='1'">
            <div class="steps_header">Thông tin liên hệ&nbsp;<span class="steps_header_notice">(Vui lòng điền đầy đủ tất cả các mục)</span></div>
            <div class="col-lg-8">
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Tên</label>
                    <div class="col-lg-9 no-padding">
                        <input class="form-control"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập tên của bạn"
                               id="userName"
                               ng-model="rooms.FullName"
                               placeholder="Tên của tôi là:"
                               name="userName" type="text">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="password"> Email *</label>
                    <div class="col-lg-9 no-padding">
                        <input id="password"
                               data-fv-stringlength="true"
                               data-fv-stringlength-max="250"
                               data-fv-stringlength-message="Tiêu đề chỉ được 250 ký tự"
                               data-fv-notempty="true"
                               data-fv-emailaddress="true"
                               data-fv-emailaddress-message="Bạn phải nhập đúng định dạng Email"
                               ng-model="rooms.Email"
                               placeholder="Email của tôi là:"
                               data-fv-notempty-message="Vui lòng nhập Email"
                               name="password" type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="confirm">Số điện thoại *</label>
                    <div class="col-lg-9 no-padding">
                        <input id="phone"
                               name="phone"
                               type="text"
                               ng-model="rooms.Phone"
                               data-fv-integer-message="Bạn phải nhập đúng số điện thoại"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập số điện thoại"
                               placeholder="Số điện thoại của tôi là:"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="confirm">Địa chỉ *</label>
                    <div class="col-lg-9 no-padding">
                        <input id="adress"
                               name="adress"
                               ng-model="rooms.Address"
                               type="text"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập địa chỉ"
                               placeholder="(ghi rõ số nhà, ngõ, phố, phường, quận để khách hàng dễ tìm thấy)"
                               class="form-control">
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="quick-fill">
                    <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Tôi đã từng đăng tin trên phongtot.vn, hãy giúp tôi</span></div>
                    <div class="input">
                        <button class="quick-fill-infor btn" ng-click="GetUserLogin();"><i class="fa fa-pencil" style="margin-right:10px;" aria-hidden="true"></i>Điền nhanh thông tin</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:20px;">
                <div class="form-group clearfix">
                    <button class="btn btn-success btn-sm" style="float:right;" ng-click="nextStep(1);"><i class="fa fa-step-forward" style="margin-right:10px;" aria-hidden="true"></i>Tiếp Tục</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="step step2" id="formStep2" ng-show="isActive=='2'">
            <div class="steps_header">Nội dung tin&nbsp;<span class="steps_header_notice">(Vui lòng điền đầy đủ tất cả các mục)</span></div>
            <div class="col-lg-8">
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Danh Mục</label>
                    <div class="col-lg-9 no-padding">
                        <select id="search_room_type"
                                ng-model="rooms.RoomTypeID"
                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                class="form-control"
                                data-fv-notempty="true"
                                data-fv-notempty-message="Vui lòng chọn danh mục"
                                name="Roomtype">
                            <option value="">--Chọn danh mục--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Tiêu đề:</label>
                    <div class="col-lg-9  no-padding">
                        <input class="form-control"
                               data-fv-stringlength="true"
                               data-fv-stringlength-min="20"
                               data-fv-stringlength-message="Tiêu đề phải dài hơn 20 và dưới 250 ký tự"
                               data-fv-stringlength-max="250"
                               ng-model="rooms.RoomName"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập tiêu đề tin của bạn"
                               placeholder="Tiêu đề phải dài hơn 20 kí tự"
                               name="title" type="text">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Ảnh đại diện:</label>
                    <div class="col-lg-5  no-padding">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 100%; height: 115px;">
                                <img src="/Content/img/img_code.jpg" />
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 100%; height: 115px;"></div>
                            <div>
                                <span class="btn btn-success btn-xs btn-file">
                                    <span class="fileinput-new"><i class="fa fa-cloud-upload" style="margin-right:5px;" aria-hidden="true"></i>Chọn ảnh</span>
                                    <span class="fileinput-exists"><i class="fa fa-wrench" style="margin-right:5px;" aria-hidden="true"></i>Thay đổi</span>
                                    <input type="file" name="Image" ng-file-select="prepareFiles($files)">
                                </span>
                                <a href="#" class="btn btn-danger btn-xs fileinput-exists" data-dismiss="fileinput"><i class="fa fa-trash-o" aria-hidden="true" style="margin-right:5px;"></i>Xóa</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  no-padding">
                        <div class="quick-fill">
                            <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Ảnh đẹp sẽ giúp tăng truy cập vào bài đăng của bạn</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select class="form-control"
                                data-fv-notempty="true"
                                data-fv-notempty-message="Vui lòng chọn Tỉnh/Thành Phố"
                                name="provinceid"
                                ng-model="rooms.provinceid"
                                ng-change="GetAllDistrict(rooms.provinceid)"
                                ng-options="option.provinceid as option.name for option in data.lstProvince">
                            <option value="">--Chọn Tỉnh/Thành Phố--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select id="search_room_type" ng-model="rooms.districtid" ng-change="GetAllWard(rooms.districtid)" ng-options="option.districtid as option.name for option in data.lstDistrict" class="form-control" name="type">
                            <option value="">--Chọn Quận/Huyện--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select id="search_room_type" ng-model="rooms.wardid" ng-options="option.wardid as option.name for option in data.lstWard" class="form-control" name="type">
                            <option value="">--Chọn Xã/Phường--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="price"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập giá tiền"
                               data-fv-integer="true"
                               ng-model="rooms.Price"
                               data-fv-integer-message="Bạn phải nhập kiểu số"
                               min="0" max="99999999999999999"
                               data-fv-between-message="Gía tiền phải lớn hơn 0"
                               placeholder="Giá tiền"
                               name="price" type="number">
                        @*<span class="input-group-addon">đ/tháng</span>*@
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="Acreage"
                               ng-model="rooms.Acreage"
                               data-fv-integer="true"
                               data-fv-integer-message="Bạn phải nhập kiểu số"
                               data-fv-notempty="true"
                               data-fv-notempty-message="Vui lòng nhập diện tích"
                               min="0" max="99999999999999999"
                               data-fv-between-message="Gía tiền phải lớn hơn 0"
                               placeholder="Diện tích"
                               name="Acreage" type="number">
                        @*<span class="input-group-addon">M<sup>2</sup></span>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="padding-bottom:15px;">
                <div class="form-group clearfix">
                    <label class="col-lg-2 control-label " for="userName">Tag sản phẩm:</label>
                    <div class="col-lg-10 no-padding">
                        <input class="form-control"
                               ng-model="rooms.Alias"
                               placeholder="Sử dụng dấu phẩy để phân biệt giữa các tags"
                               name="tag" type="text">
                    </div>
                </div>
                <label class="col-lg-2 control-label " for="userName">Nội Dung</label>
                <div class="col-lg-10 no-padding">
                    <textarea ng-model="rooms.Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="steps_header">Thông tin thêm&nbsp;<span class="steps_header_notice">(Vui lòng điền đầy đủ tất cả các mục)</span></div>
            <div class="col-lg-8">
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Tầng</label>
                    <div class="col-lg-9  no-padding">
                        <select id="search_room_type" ng-model="rooms.MoreInfomations.FloorNumber" class="form-control">
                            <option value="">--Chọn Tầng--</option>
                            <option value="Tầng 1">Tầng 1</option>
                            <option value="Tầng 2">Tầng 2</option>
                            <option value="Tầng 3">Tầng 3</option>
                            <option value="Tầng 4">Tầng 4</option>
                            <option value="Tầng 5">Tầng 5</option>
                            <option value="Chưa xác định">Chưa xác định</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Vệ Sinh</label>
                    <div class="col-lg-9  no-padding">
                        <select id="search_room_type" ng-model="rooms.MoreInfomations.ToiletNumber" class="form-control">
                            <option value="">--Vệ Sinh--</option>
                            <option value="Khép kín">Khép kín</option>
                            <option value="Chung">Chung</option>
                            <option value="Chưa xác định">Chưa xác định</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-lg-3 control-label " for="userName">Số người ở</label>
                    <div class="col-lg-9  no-padding">
                        <select id="search_room_type" ng-model="rooms.MoreInfomations.BedroomNumber" class="form-control">
                            <option value="">--Số người ở tối đa--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">Chưa xác định</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="ElectricPrice"
                               ng-model="rooms.MoreInfomations.ElectricPrice"
                               placeholder="Giá điện"
                               name="ElectricPrice" type="number">
                        <span class="input-group-addon">đ/tháng</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 input-group">
                        <input class="form-control"
                               id="WaterPrice"
                               ng-model="rooms.MoreInfomations.WaterPrice"
                               placeholder="Giá nước"
                               name="WaterPrice" type="number">
                        <span class="input-group-addon">đ/tháng</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-lg-12 no-padding">
                        <select id="search_room_type" class="form-control" name="type">
                            <option value="">--Tiện ích--</option>
                            <option value="Phòng trọ, nhà trọ">Phòng trọ, nhà trọ</option>
                            <option value="Nhà thuê nguyên căn">Nhà thuê nguyên căn</option>
                            <option value="Cho thuê căn hộ">Cho thuê căn hộ</option>
                            <option value="Tìm bạn ở ghép">Tìm bạn ở ghép</option>
                            <option value="Cho thuê mặt bằng">Cho thuê mặt bằng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    <label class="col-lg-2 control-label " for="userName">Ảnh:</label>
                    <div class="col-lg-10 no-padding">
                        <ng-dropzone class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods">
                            <div class="dz-default dz-message">
                                <span>Đăng nhiều hình thật nhanh bằng cách kéo và thả hình vào khung này hoặc nhấn nút phía trên rồi chọn nhiều hình cùng lúc</span>
                            </div>
                        </ng-dropzone>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:20px;">
                <div class="form-group clearfix">
                    <button class="btn btn-default btn-sm" style="float:left;" ng-click="previousStep(1);"><i class="fa fa-step-backward" style="margin-right:10px;" aria-hidden="true"></i>Quay lại</button>
                    <button class="btn btn-success btn-sm" style="float:right;" ng-click="nextStep(2);"><i class="fa fa-step-forward" style="margin-right:10px;" aria-hidden="true"></i>Tiếp Tục</button>
                </div>
            </div>

        </div>
        <div class="step step3" ng-show="isActive=='3'">
            <div class="steps_header">Xác nhận thông tin&nbsp;<span class="steps_header_notice"></span></div>
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:30%">Tiêu đề</th>
                            <th style="width:10%">Gía tiền</th>
                            <th style="width:50%">Địa chỉ</th>
                            <th style="width:10%">Số điện thoại</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{rooms.RoomName}}</td>
                            <td>{{rooms.Price |number}}VNĐ</td>
                            <td>{{rooms.Address}}</td>
                            <td>{{rooms.PhoneNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <div class="quick-fill">
                    <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Chú ý: Đăng tin hoàn toàn miễn phí, nhưng nếu bạn muốn tin đăng được ưu tiên và có nhiều người xem hơn thì bạn nên sử dụng các dịch vụ dưới đây</span></div>
                </div>
                <div class="checkbox checkbox-success">
                    <input type="checkbox">
                    <label> Đưa tin đăng lên trang nhất của chuyên mục <a>(Tìm hiểu thêm)</a></label>
                </div>
                <div class="checkbox checkbox-success" style="margin-top:20px;">
                    <input type="checkbox">
                    <label >Hiển thị tin đăng trong mục Tin đăng được tài trợ <a>(Tìm hiểu thêm)</a></label>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:20px;">
                <div class="form-group clearfix">
                    <button class="btn btn-default btn-sm" style="float:left;" ng-click="previousStep(1);"><i class="fa fa-step-backward" style="margin-right:10px;" aria-hidden="true"></i>Quay lại</button>
                    <button class="btn btn-success btn-sm" style="float:right;" ng-click="nextStep(3);"><i class="fa fa-step-forward" style="margin-right:10px;" aria-hidden="true"></i>Đăng Tin</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<script type="text/ng-template" id="ModalLogin.html">
    <div class="modal-header popup_header">
        <button aria-label="Close" data-dismiss="modal" ng-click="close();" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title popup_title" id="messageDel">
            <img src="/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
        </h4>
    </div>
    <div class="line_orn"></div>
    <div class="modal-body login">
        <div class="container-fluid">
            <div class="box">
                <div class="content">
                    <div class="social">
                        <a id="google_login" class="circle google" href="#">
                            <i class="fa fa-google-plus fa-fw"></i>
                        </a>
                        <a id="facebook_login" class="circle facebook" href="#">
                            <i class="fa fa-facebook fa-fw"></i>
                        </a>
                    </div>
                    <div class="division">
                        <div class="line l"></div>
                        <span>Hoặc</span>
                        <div class="line r"></div>
                    </div>
                    <div class="form loginBox">
                        <div id="formLogin" class="">
                            <div class="col-lg-12 form-group no-padding">
                                <input id="email"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập Email"
                                       data-fv-emailaddress="true"
                                       data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                       ng-model="account.Email"
                                       class="form-control"
                                       type="text"
                                       placeholder="Tên tài khoản"
                                       name="email">
                            </div>
                            <div class="col-lg-12 form-group no-padding">
                                <input id="password"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                       ng-model="account.Password"
                                       class="form-control"
                                       type="password"
                                       placeholder="Mật khẩu"
                                       name="password">

                            </div>
                        </div>
                        <input class="btn btn-default btn-login" ng-click="ok();" type="button" value="Đăng Nhập">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer login">
        <div class="forgot login-footer" style="display: block;">
            <span>
                <a href="javascript: showRegisterForm();">Tạo tài khoản</a>
                ?
            </span>
        </div>
        <div class="forgot register-footer" style="display: none;">
            <span>Already have an account?</span>
            <a href="javascript: showLoginForm();">Đăng Nhập</a>
        </div>
    </div>
</script>
<style>
    .checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 0px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 13px;
      color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  /*background-color: #555555;*/
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
        cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #FF0046;
  border-color: #FF0046; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  /*background-color: #5cb85c;
  border-color: #5cb85c;*/
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px;
    color: #FFF; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
      transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #ff0046; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #ff0046; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #ff0046; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }

</style>