
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row top-companies">
    <div class="col-md-2 col-xs-4">
        <a href="https://www.topcv.vn/cong-ty/cong-ty-cp-dich-vu-di-dong-ononpay-viet-nam/15.html" target="_blank">
            <img src="https://static.topcv.vn/company_logos/cong-ty-cp-dich-vu-di-dong-ononpay-viet-nam-58ef018324a15.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-md-2 col-xs-4">
        <a href="https://www.topcv.vn/cong-ty/cong-ty-co-phan-jamja/333.html" target="_blank">
            <img src="https://static.topcv.vn/company_logos/cong-ty-co-phan-jamja-583ce430731cf.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-md-2 col-xs-4">
        <a href="https://www.topcv.vn/cong-ty/cong-ty-co-phan-vat-gia-viet-nam-vnp-group/5.html" target="_blank">
            <img src="https://static.topcv.vn/company_logos/cong-ty-co-phan-vat-gia-viet-nam-vnp-57982df8d7f68.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-md-2 col-xs-4">
        <a href="https://www.topcv.vn/cong-ty/tap-doan-internet-novaon/473.html" target="_blank">
            <img src="https://static.topcv.vn/company_logos/tap-doan-internet-novaon-57a59d767bc36.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-md-2 col-xs-4">
        <a href="https://www.topcv.vn/cong-ty/cong-ty-co-phan-mog-viet-nam/821.html" target="_blank">
            <img src="https://static.topcv.vn/company_logos/cong-ty-co-phan-mog-viet-nam-57d1127d1f3db.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-md-2 col-xs-4">
        <a href="https://www.topcv.vn/cong-ty/uber-vietnam/124.html" target="_blank">
            <img src="https://static.topcv.vn/company_logos/uber-vietnam-57d11d8d610f8.jpg" class="img-responsive">
        </a>
    </div>
</div>
<div class="row" ng-controller="ListRoomController">
    <div class="col-lg-9 col-md-9 boder margin-bottom-15">
        <div class="row box-room-info">
            <div class="modtitle">
                <h2><a href="frontpage">Tin nổi bật</a></h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-touch" ng-repeat="item in data.lstRoom">
                <a href="#" class="card" id="card-309">
                    <div class="figure">
                        <div class="featured-label">
                            <div class="featured-label-left"></div>
                            <div class="featured-label-content"><span class="fa fa-star"></span></div>
                            <div class="featured-label-right"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="img" style="background-image:url(http://localhost:6568/Content/images/{{item.Image}});"></div>
                        <div class="figCaption">
                            <div><span class="fa fa-home" style="margin-right:10px"></span>{{item.RoomTypeName}}</div>
                            <span><span class="fa fa-eye"></span> 9999+</span>
                            <span><span class="fa fa-heart-o"></span> 2</span>
                        </div>
                        <div class="figView"><span class="fa fa-eye"></span></div>
                        <div class="figType">{{item.Price|number}} Đ/tháng</div>
                    </div>
                    <h2>{{item.RoomName}}</h2>
                    <div class="cardAddress">
                        <span class="fa fa-map-marker" style="margin-right:10px;"></span>{{item.Address}}
                    </div>
                    <ul class="cardFeat">
                        <li><span class="fa fa-bed"></span><span style="margin-left:5px;">2</span></li>
                        <li><span class="fa fa-info"></span><span style="margin-left:5px;">{{item.Acreage|number}} m<sup>2</sup></span></li>
                        <li></li>
                        <li><span class="fa fa-male" style="margin-right:10px;"></span>5</li>
                        @*<li>
                                <span class="fa fa-user"></span>
                                <span>
                                   {{item.FullName}}
                                </span>
                                <span>
                                   {{item.FullName}}
                                </span>
                            </li>*@
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="disabled">
                        <span>«</span>
                    </li>
                    <li class="active"><span>1</span></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="" rel="next">»</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12 sidebar">
        <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads margin-bottom-20">
                <div class="box_collection_pr">
                    <div class="title_st">
                        <h2>
                            <div class="show_nav_bar1"><i class="fa fa-bars"></i></div>
                            Danh mục
                        </h2>
                        <span class="arrow_title visible-md visible-md"></span>
                        <div class="show_nav_bar hidden-lg hidden-md"></div>
                    </div>
                    <div class="list_item_collection">
                        <ul>
                            <li class="li_lv1"><a href=""><i class="fa fa-angle-double-right" style="margin-right:10px" aria-hidden="true"></i>Tất cả<span class="facet-count">(1,844)</span></a> </li>
                            <li ng-repeat="item in data.lstRoomType" class="li_lv1"><a href=""><i class="fa fa-angle-double-right" style="margin-right:10px" aria-hidden="true"></i>{{item.RoomTypeName}}<span class="facet-count">(1,844)</span></a> </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-12">
                <div class="widget_bestsellers">
                    <div class="title_st">
                        <h2>
                            <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                            Tin tức
                        </h2>
                        <span class="arrow_title visible-md visible-md"></span>
                        <div class="show_nav_bar hidden-lg hidden-md"></div>
                    </div>
                    <div class="box_produt_hot">
                        <ul class="available_pc">

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="box_pr_small">
                                    <div class="box_pr_img">
                                        <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">

                                            <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">

                                        </a>
                                    </div>
                                    <div class="box_pr_title">
                                        <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                    </div>
                                </div>
                            </li>
                            <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads nopadding-xs hidden-xs hidden-sm" style="margin-top:20px;">
                <img style="width:100%;height:auto" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

