
@{
    ViewBag.Title = "ListRoom";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="col-lg-9" style="margin-top:20px;">
    <div class="toolbar">
        <div class="pager">
            <div class="sort-by">
                <select class="form-control input-sm">
                    <option selected="selected">Position</option>
                    <option>Name</option>
                    <option>Price</option>
                </select>
                <a title="" href="#"><span class="fa fa-map-marker"></span></a>
            </div>
            <div class="sort-by">
                <select class="form-control input-sm">
                    <option selected="selected">Position</option>
                    <option>Name</option>
                    <option>Price</option>
                </select>
                <a title="Set Descending Direction" href="#"><span class="fa fa-sort-amount-desc"></span></a>
            </div>
            <div class="sort-by">
                <select class="form-control input-sm">
                    <option>9</option>
                    <option selected="selected">12</option>
                    <option>24</option>
                    <option>36</option>
                </select>
                <a href="#"><span class="fa fa-eye"></span></a>
            </div>
        </div><!--- /.pager -->
    </div>
    <div class="box-room-list">
        <div class="has_prop_slider  listing_wrapper col-md-12 no-padding">
            <div class="property_listing">
                <div class="listing-unit-img-wrapper">
                    <div class="prop_new_details">
                        <div class="prop_new_details_back"></div>
                        <div class="property_media">
                            <i class="fa fa-video-camera" aria-hidden="true"></i><i class="fa fa-camera" aria-hidden="true"></i> 3
                        </div>
                        <div class="property_location_image">
                            <span class="property_marker"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <a href="" rel="tag">Flamengo</a>, <a href="" rel="tag">Rio de Janeiro</a>
                        </div>
                    </div>
                    <div id="property_unit_carousel_58fae6645f914" class="carousel property_unit_carousel slide " data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img width="525" height="328" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-525x328.jpg" class="lazyload img-responsive wp-post-image" alt="" data-original="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-525x328.jpg">
                                </a>
                            </div>
                            <div class="item">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img data-lazy-load-src="http://rio.wpresidence.net/wp-content/uploads/2014/05/architecture-interior-modern-design-modern-interior-designer-1-525x328.jpg" alt="Villa On Washington Ave" class="img-responsive" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/architecture-interior-modern-design-modern-interior-designer-1-525x328.jpg">
                                </a>
                            </div><div class="item">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img data-lazy-load-src="http://rio.wpresidence.net/wp-content/uploads/2014/05/Brand-of-interior-design-ideas-for-small-studio-apartments-About-Remodel-Apartment-Design-Interior-with-interior-design-ideas-for-small-studio-apartments-Apartment-Design-Easy-2-525x328.jpg" alt="Villa On Washington Ave" class="img-responsive" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/Brand-of-interior-design-ideas-for-small-studio-apartments-About-Remodel-Apartment-Design-Interior-with-interior-design-ideas-for-small-studio-apartments-Apartment-Design-Easy-2-525x328.jpg">
                                </a>
                            </div>
                        </div>
                        <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/"> </a><a class="left  carousel-control" href="#property_unit_carousel_58fae6645f914" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right  carousel-control" href="#property_unit_carousel_58fae6645f914" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <h4>
                    <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                        Cho thuê phòng trọ số 19, Ngách 236/8, Ngõ 236 Khương Đình,
                    </a>
                </h4>
                <div class="listing_unit_price_wrapper">
                    <span class="price_label price_label_before"> 2,100,000 Đ/tháng</span>
                </div>
                <div class="property_listing_details">
                    <span class="inforoom"></span>5 phòng
                    <span style="margin-left:10px" class="infobath"></span>Khép kín
                    <span style="margin-left:10px" class="infosize"></span>250 m<sup>2</sup>
                </div>
                <div class="property_listing_details">
                    <i class="fa fa-eye" aria-hidden="true"></i><span>3000.000</span>
                    <i class="fa fa-heart" aria-hidden="true"></i><span>3000.000</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span>30 phút trước</span>
                </div>
                <div class="property_location">
                    <div class="property_agent_wrapper">
                        <div class="property_agent_image" style="background-image:url('http://rio.wpresidence.net/wp-content/uploads/2014/05/agent4-1-14-120x120.jpg')"></div>
                        <div class="property_agent_image_sign"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                        <a href="http://rio.wpresidence.net/agents/maria-barlow/">Maria Barlow</a>
                    </div>

                    <div class="listing_actions">
                        <span class="share_list" data-original-title="share"></span>
                        <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="139"></span>

                        <span class="compare-action" data-original-title="compare" data-pimage="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-143x83.jpg" data-pid="139"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="has_prop_slider  listing_wrapper col-md-12 no-padding">
            <div class="property_listing">
                <div class="listing-unit-img-wrapper">
                    <div class="prop_new_details">
                        <div class="prop_new_details_back"></div>
                        <div class="property_media">
                            <i class="fa fa-video-camera" aria-hidden="true"></i><i class="fa fa-camera" aria-hidden="true"></i> 3
                        </div>
                        <div class="property_location_image">
                            <span class="property_marker"></span>
                            <a href="http://rio.wpresidence.net/area/flamengo/" rel="tag">Flamengo</a>, <a href="http://rio.wpresidence.net/city/rio-de-janeiro/" rel="tag">Rio de Janeiro</a>
                        </div>
                    </div>
                    <div id="property_unit_carousel_58fae6645f914" class="carousel property_unit_carousel slide " data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img width="525" height="328" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-525x328.jpg" class="lazyload img-responsive wp-post-image" alt="" data-original="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-525x328.jpg">
                                </a>
                            </div>
                            <div class="item">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img data-lazy-load-src="http://rio.wpresidence.net/wp-content/uploads/2014/05/architecture-interior-modern-design-modern-interior-designer-1-525x328.jpg" alt="Villa On Washington Ave" class="img-responsive" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/architecture-interior-modern-design-modern-interior-designer-1-525x328.jpg">
                                </a>
                            </div><div class="item">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img data-lazy-load-src="http://rio.wpresidence.net/wp-content/uploads/2014/05/Brand-of-interior-design-ideas-for-small-studio-apartments-About-Remodel-Apartment-Design-Interior-with-interior-design-ideas-for-small-studio-apartments-Apartment-Design-Easy-2-525x328.jpg" alt="Villa On Washington Ave" class="img-responsive" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/Brand-of-interior-design-ideas-for-small-studio-apartments-About-Remodel-Apartment-Design-Interior-with-interior-design-ideas-for-small-studio-apartments-Apartment-Design-Easy-2-525x328.jpg">
                                </a>
                            </div>
                        </div>
                        <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/"> </a><a class="left  carousel-control" href="#property_unit_carousel_58fae6645f914" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right  carousel-control" href="#property_unit_carousel_58fae6645f914" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <h4>
                    <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                        Cho thuê phòng trọ số 19, Ngách 236/8, Ngõ 236 Khương Đình,
                    </a>
                </h4>
                <div class="listing_unit_price_wrapper">
                    <span class="price_label price_label_before"> 2,100,000 Đ/tháng</span>
                </div>
                <div class="property_listing_details">
                    <span class="inforoom"></span>5 phòng
                    <span style="margin-left:10px" class="infobath"></span>Khép kín
                    <span style="margin-left:10px" class="infosize"></span>250 m<sup>2</sup>
                </div>
                <div class="property_listing_details">
                    <i class="fa fa-eye" aria-hidden="true"></i><span>3000.000</span>
                    <i class="fa fa-heart" aria-hidden="true"></i><span>3000.000</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span>30 phút trước</span>
                </div>
                <div class="property_location">
                    <div class="property_agent_wrapper">
                        <div class="property_agent_image" style="background-image:url('http://rio.wpresidence.net/wp-content/uploads/2014/05/agent4-1-14-120x120.jpg')"></div>
                        <div class="property_agent_image_sign"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                        <a href="http://rio.wpresidence.net/agents/maria-barlow/">Maria Barlow</a>
                    </div>

                    <div class="listing_actions">
                        <span class="share_list" data-original-title="share"></span>
                        <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="139"></span>

                        <span class="compare-action" data-original-title="compare" data-pimage="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-143x83.jpg" data-pid="139"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="has_prop_slider  listing_wrapper col-md-12 no-padding">
            <div class="property_listing">
                <div class="listing-unit-img-wrapper">
                    <div class="prop_new_details">
                        <div class="prop_new_details_back"></div>
                        <div class="property_media">
                            <i class="fa fa-video-camera" aria-hidden="true"></i><i class="fa fa-camera" aria-hidden="true"></i> 3
                        </div>
                        <div class="property_location_image">
                            <span class="property_marker"></span>
                            <a href="http://rio.wpresidence.net/area/flamengo/" rel="tag">Flamengo</a>, <a href="http://rio.wpresidence.net/city/rio-de-janeiro/" rel="tag">Rio de Janeiro</a>
                        </div>
                    </div>
                    <div id="property_unit_carousel_58fae6645f914" class="carousel property_unit_carousel slide " data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img width="525" height="328" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-525x328.jpg" class="lazyload img-responsive wp-post-image" alt="" data-original="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-525x328.jpg">
                                </a>
                            </div>
                            <div class="item">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img data-lazy-load-src="http://rio.wpresidence.net/wp-content/uploads/2014/05/architecture-interior-modern-design-modern-interior-designer-1-525x328.jpg" alt="Villa On Washington Ave" class="img-responsive" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/architecture-interior-modern-design-modern-interior-designer-1-525x328.jpg">
                                </a>
                            </div><div class="item">
                                <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                                    <img data-lazy-load-src="http://rio.wpresidence.net/wp-content/uploads/2014/05/Brand-of-interior-design-ideas-for-small-studio-apartments-About-Remodel-Apartment-Design-Interior-with-interior-design-ideas-for-small-studio-apartments-Apartment-Design-Easy-2-525x328.jpg" alt="Villa On Washington Ave" class="img-responsive" src="http://rio.wpresidence.net/wp-content/uploads/2014/05/Brand-of-interior-design-ideas-for-small-studio-apartments-About-Remodel-Apartment-Design-Interior-with-interior-design-ideas-for-small-studio-apartments-Apartment-Design-Easy-2-525x328.jpg">
                                </a>
                            </div>
                        </div>
                        <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/"> </a><a class="left  carousel-control" href="#property_unit_carousel_58fae6645f914" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right  carousel-control" href="#property_unit_carousel_58fae6645f914" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <h4>
                    <a href="http://rio.wpresidence.net/properties/villa-on-washington-ave/">
                        Cho thuê phòng trọ số 19, Ngách 236/8, Ngõ 236 Khương Đình,
                    </a>
                </h4>
                <div class="listing_unit_price_wrapper">
                    <span class="price_label price_label_before"> 2,100,000 Đ/tháng</span>
                </div>
                <div class="property_listing_details">
                    <span class="inforoom"></span>5 phòng
                    <span style="margin-left:10px" class="infobath"></span>Khép kín
                    <span style="margin-left:10px" class="infosize"></span>250 m<sup>2</sup>
                </div>
                <div class="property_listing_details">
                    <i class="fa fa-eye" aria-hidden="true"></i><span>3000.000</span>
                    <i class="fa fa-heart" aria-hidden="true"></i><span>3000.000</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span>30 phút trước</span>
                </div>
                <div class="property_location">
                    <div class="property_agent_wrapper">
                        <div class="property_agent_image" style="background-image:url('http://rio.wpresidence.net/wp-content/uploads/2014/05/agent4-1-14-120x120.jpg')"></div>
                        <div class="property_agent_image_sign"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                        <a href="http://rio.wpresidence.net/agents/maria-barlow/">Maria Barlow</a>
                    </div>

                    <div class="listing_actions">
                        <span class="share_list" data-original-title="share"></span>
                        <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="139"></span>

                        <span class="compare-action" data-original-title="compare" data-pimage="http://rio.wpresidence.net/wp-content/uploads/2014/05/beach-home-interior-design-on-great-home-design-143x83.jpg" data-pid="139"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3">
</div>
