
@{
    ViewBag.Title = "ListRoom";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style>


</style>
<div class="col-md-9 col-lg-9 col-xs-12" ng-controller="searchController">
    <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
            <li>Tất cả sản phẩm</li>
        </ul>
    </div>
    <div class="bannercollection">
        <img style="width:100%" src="//bizweb.dktcdn.net/100/109/381/themes/161997/assets/img_collection.jpg?1492597369483" alt="Tất cả sản phẩm">
    </div>
    <div class="box-room-list">
        <div class="has_prop_slider  listing_wrapper col-md-12 no-padding" ng-repeat="item in data.lstRoom">
            <div class="property_listing">
                <div class="listing-unit-img-wrapper">
                    <div class="prop_new_details">
                        <div class="prop_new_details_back"></div>
                        <div class="property_media">
                            <i class="fa fa-home" aria-hidden="true"></i> {{item.RoomTypeName}}
                        </div>
                        <div class="property_location_image">
                            <span class="property_marker"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <a href="" rel="tag">{{item.ProvinceName}}</a>, <a href="" rel="tag">{{item.RoomTypeName}}</a>
                        </div>
                    </div>
                    <img width="525" height="328" src="http://localhost:6568/Content/images/{{item.Image}}" class="lazyload img-responsive wp-post-image">
                </div>
                <h4>
                    <a href="#">
                        {{item.RoomName}}
                    </a>
                </h4>
                <div class="listing_unit_price_wrapper">
                    <span class="price_label price_label_before"> {{item.Price|number}} Đ/tháng</span>
                </div>
                <div class="property_listing_details">
                    <span class="inforoom"></span>{{item.BedroomNumber}} phòng
                    <span style="margin-left:10px" class="infobath"></span>{{item.ToiletNumber}}
                    <span style="margin-left:10px" class="infosize"></span>{{item.Acreage|number}} m<sup>2</sup>
                </div>
                <div class="property_listing_details">
                    <i class="fa fa-eye" aria-hidden="true"></i><span>{{item.ViewCount}}</span>
                    <i class="fa fa-heart" aria-hidden="true"></i><span>133131</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span>{{item.CreateDate}} phút trước</span>
                </div>
                <div class="property_location">
                    <div class="property_agent_wrapper">
                        <div class="property_agent_image" ng-if="item.UserAvatar!=null" style="background-image:url('http://localhost:6568/Content/images/{{item.UserAvatar}}')">

                        </div>
                        <div class="property_agent_image" ng-if="item.UserAvatar==null" style="background-image:url('/Content/img/boy-512.png')">

                        </div>
                        <div class="property_agent_image_sign"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                        <a href="#">{{item.FullName}}</a>
                    </div>

                    <div class="listing_actions">
                        <span class="share_list"></span>
                        <span class="icon-fav icon-fav-off"></span>
                        <span class="compare-action"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="ResultSearch(page)"></pager-directive>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12">
    <div class="row" style="margin-top:55px;">
        <div class="clearfix"></div>
        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="box-search-sidebar">
                <div class="title_st">
                    <h2>
                        <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                        Tìm kiếm
                    </h2>
                </div>
                <div class="box_search">
                    <div class="col-lg-12 margin-bottom-15 categories margin-top-10">
                        <input type="text" placeholder="Từ khóa tìm kiếm......" ng-model="keywords.Keywords" class="form-control" style="height: 40px;border-radius: 0px;" />
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.RoomType"
                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                data-placeholder="Chọn loại phòng">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Province"
                                ng-change="GetAllDistrict(keywords.Province)"
                                ng-options="option.provinceid as option.name for option in data.lstProvince"
                                data-placeholder="Chọn Tỉnh/TP">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.District"
                                ng-change="GetAllWard(keywords.District)"
                                ng-options="option.districtid as option.name for option in data.lstDistrict"
                                data-placeholder="Chọn Quận/Huyện">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Ward"
                                ng-options="option.wardid as option.name for option in data.lstWard"
                                data-placeholder="Chọn Phường/Xã">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <p style="margin-bottom:0px">
                            <label for="amount" style="color:#fff;">Khoảng giá:</label>
                            <span id="amount_2" style="border:0; color:#fff; font-weight:bold;">{{slider.minValue}} triệu đến {{slider.maxValue}}triệu</span>
                        </p>
                        <rzslider rz-slider-model="slider.minValue" style="margin-top:0px"
                                  rz-slider-high="slider.maxValue"
                                  rz-slider-options="slider.options"></rzslider>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <button type="button" ng-click="Search();" style="width:100%" class="wpresidence_button"><i class="fa fa-search" style="margin-right:15px" aria-hidden="true"></i>Tìm Kiếm</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="widget_bestsellers">
                <div class="title_st">
                    <h2>
                        <span class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></span>
                        Tin tức
                    </h2>
                </div>
                <div class="box_produt_hot">
                    <ul class="available_pc">

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                </div>
                            </div>
                        </li>
                        <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads nopadding-xs hidden-xs hidden-sm margin-bottom-20" style="margin-top:20px;">
            <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
        </div>
    </div>
</div>
