
@{
    ViewBag.Title = "RoomDetail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<link href="~/bower_components/lightslider/dist/css/lightslider.css" rel="stylesheet" />
<script src="~/bower_components/lightslider/dist/js/lightslider.js"></script>
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 300px;
        width: 100%;
        position: relative;
    }
</style>
<div ng-controller="RoomDetailController">
    <div class="col-md-12 margin-bottom-15">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
                <li><a href="@Url.Action("ListRoom","Home")?RoomTypeID={{RoomInfo.RoomTypeID}}">{{RoomInfo.RoomTypeName}}</a></li>
                <li>{{RoomInfo.RoomName}}</li>
            </ul>
        </div>
        <div class="map-content">
            <div id="map"></div>
        </div>
    </div>
    <div class="col-md-9 col-lg-9 col-xs-12 margin-bottom-10">
        <div class="real-estate ">
            <div class="real-estate-detail">
                <h1 class="title">{{RoomInfo.RoomName}}</h1>
                <div class="main-info">
                    <div class="col-md-8 left-info nopadding-xs no-padding-left">
                        <div class="room-detail-info margin-bottom-15">
                            <div class="address">
                                <span class="btn info-label">Địa chỉ</span>
                                <a class="" href="">{{RoomInfo.Address}}</a>
                            </div>
                            <div class="size">
                                <span class="btn info-label">Diện tích</span>
                                <a href="" class="btn info-data">{{RoomInfo.Acreage|number}}m<sup>2</sup></a>
                                <span class="btn info-label">Loại phòng</span>
                                <a href="">{{RoomInfo.RoomTypeName}}</a>
                            </div>
                            <div class="vs">
                                <span class="btn info-label">Vệ sinh</span>
                                <a href="" class="btn info-data">{{RoomInfo.ToiletNumber}}</a>
                                <span class="btn info-label">Số người ở</span>
                                <a href="">{{RoomInfo.BedroomNumber}}</a>
                            </div>
                            <div class="type">
                                <span class="btn info-label">Giá điện</span>
                                <a href="" class="btn info-data">{{RoomInfo.ElectricPrice |number}} Nghìn/số</a>
                                <span class="btn info-label">Giá nước</span>
                                <a href="">{{RoomInfo.WaterPrice |number}} Nghìn/số</a>
                            </div>
                            <div class="type">
                                <span class="btn info-label">Tầng</span>
                                <a href="" class="btn info-data">{{RoomInfo.FloorNumber}}</a>
                                <span class="btn info-label">Số người ở</span>
                                <a href="">{{RoomInfo.BedroomNumber}} người</a>
                            </div>
                            <div class="Compass">
                                <span class="btn info-label">Tiện ích</span>
                                <a class="" href="">{{RoomInfo.Convenient}}</a>
                            </div>
                        </div>

                        <div class="margin-bottom-15">
                            <img class="img-responsive" style="height:87px" src="https://thuephongtro.com/Style/images/banner.gif" width="662" alt="">
                        </div>
                        <div class="margin-bottom-15">
                            <img class="img-responsive" style="height:87px" src="https://thuephongtro.com/Style/images/banner.gif" width="662" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 no-padding margin-bottom-10">
                        <div class="info-contact">
                            <div class="agentAvatar">
                                <a href="#" ng-if="RoomInfo.UserAvatar!=null">
                                    <img class="avatar agentAvatarImg" ng-src="http://localhost:6568/Content/images/{{RoomInfo.UserAvatar}}" alt="Rust Cohle">
                                </a>
                                <a href="#" ng-if="RoomInfo.UserAvatar==null">
                                    <img class="avatar agentAvatarImg" ng-src="~/Content/img/boy-512.png" alt="Rust Cohle">
                                </a>
                            </div>
                            <div class="info-boss">
                                <div class="info-boss-name" style="padding-bottom: 5px;">
                                    <a href="#"><strong class="info-strong-name">{{RoomInfo.FullName}}</strong></a>
                                </div>
                                <div class="info-boss-address">
                                    <i style="display: table-cell;" class="fa fa-map-marker"></i><span class="info-span-adress">{{RoomInfo.Address}}</span>
                                </div>
                                @*<div class="info-boss-address">
                                        <i style="display: table-cell;" class="fa fa-envelope"></i><span class="info-span-adress">tranhoangnam11373@gmail.com</span>
                                    </div>*@
                            </div>
                            <div class="info-price">
                                <span>{{RoomInfo.Price|number}} Đ/Tháng</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="info-help" style="padding: 10px 10px 0;">
                            <div class="info-help-phone" style="margin-bottom: 10px;">
                                <a id="show_phone_bnt" ng-if="isShowPhoneNumber" ng-click="showPhoneNumber();" class="btn btn-primary btn-block">
                                    <i style="margin-right: 10px;" class="fa fa-phone"></i><span>Nhấn để hiện số</span>
                                </a>
                                <h4 ng-if="!isShowPhoneNumber" style="text-align: center;padding: 12.5px;"><strong>{{RoomInfo.Phone}}</strong></h4>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="quick-fill hidden-xs">
                            <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="font-weight:bold">Thuê phòng an toàn</span></div>
                            <ul style="padding-left:15px" class="text-justify">
                                <li>
                                    <em>KHÔNG trả tiền trước khi nhận hàng.</em>
                                </li>
                                <li><em>Kiểm tra hàng cẩn thận, đặc biệt với hàng đắt tiền.</em></li>
                                <li><em>Hẹn gặp ở nơi công cộng.</em></li>
                                <li><em>Nếu bạn mua hàng hiệu, hãy gặp mặt tại cửa hàng để nhờ xác minh, tránh mua phải hàng giả.</em></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix padding-top-10"></div>
                <!-- Light Slider -->
                <!-- Product Single - Gallery
                ============================================= -->
                <div class="product-image product-main-image margin-bottom-15" ng-if="moreImages != null">
                    <ul id="product_gallery">
                        <li ng-repeat="img in moreImages" data-thumb="http://localhost:6568/Content/images/{{img}}">
                            <img style="height:100%;width:100%" ng-src="http://localhost:6568/Content/images/{{img}}" />
                        </li>
                    </ul>
                    <div class="clearfix padB10"></div>
                </div><!-- Product Single - Gallery End -->
                <!-- End Light Slider -->
                <div class="room-info-des" ng-if="RoomInfo.Description!=null">
                    <div class="steps_header">Thông tin chi tiết</div>
                    <div class="dis-content">
                        {{RoomInfo.Description}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-xs-12" ng-controller="searchController">
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="box-search-sidebar">
                <div class="title_st">
                    <h2>
                        <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                        Tìm kiếm
                    </h2>
                </div>
                <div class="box_search">
                    <div class="col-lg-12 margin-bottom-15 categories margin-top-10">
                        <input type="text" placeholder="Từ khóa tìm kiếm......" ng-model="keywords.Keywords" class="form-control" style="height: 40px;border-radius: 0px;" />
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.RoomType"
                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                data-placeholder="Chọn loại phòng">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Province"
                                ng-change="GetAllDistrict(keywords.Province)"
                                ng-options="option.provinceid as option.name for option in data.lstProvince"
                                data-placeholder="Chọn Tỉnh/TP">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.District"
                                ng-change="GetAllWard(keywords.District)"
                                ng-options="option.districtid as option.name for option in data.lstDistrict"
                                data-placeholder="Chọn Quận/Huyện">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Ward"
                                ng-options="option.wardid as option.name for option in data.lstWard"
                                data-placeholder="Chọn Phường/Xã">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">

                        <rzslider rz-slider-model="slider.minValue" style="margin-top:0px"
                                  rz-slider-high="slider.maxValue"
                                  rz-slider-options="slider.options"></rzslider>
                        <p style="margin-bottom:0px">
                            <span id="amount_2" style="border:0; color:#000000; font-weight:bold;">{{slider.minValue}} triệu đến {{slider.maxValue}}triệu</span>
                        </p>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <button type="button" ng-click="Search();" style="width:100%" class="wpresidence_button"><i class="fa fa-search" style="margin-right:15px" aria-hidden="true"></i>Tìm Kiếm</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="widget_bestsellers">
                <div class="title_st">
                    <h2>
                        <span class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></span>
                        Tin tức
                    </h2>
                </div>
                <div class="box_produt_hot">
                    <ul class="available_pc">

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">
                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">
                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                </div>
                            </div>
                        </li>
                        <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads nopadding-xs hidden-xs hidden-sm hidden-md margin-bottom-20" style="margin-top:20px;">
            <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
        </div>
    </div>
</div>
<style>
    .room-info-des .dis-content {
        font-family: 'Arial';
        font-size: 15px;
        text-align: justify;
        background-color: #ecf0f1;
        padding: 10px 5px;
        margin-top: -10px;
        height: 360px;
    }
</style>