
@{
    ViewBag.Title = "RoomDetail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<link href="~/bower_components/lightslider/dist/css/lightslider.css" rel="stylesheet" />
<script src="~/bower_components/lightslider/dist/js/lightslider.js"></script>
<div class="col-md-12">
    <div class="map-content">
        <fieldset class="gllpLatlonPicker" id="_MAP_5302">
            <input type="hidden" class="gllpSearchField">
            <input type="hidden" class="gllpSearchButton" value="search">
            <!-- <br/><br/> -->
            <div class="gllpMap" style="height:300px!important;">Google Maps</div>
            <!-- <br/>
            lat/lon: -->
            <input type="hidden" class="gllpLatitude" value="10.7917429">
            <!-- / -->
            <input type="hidden" class="gllpLongitude" value="106.67485869999996">
            <!-- zoom: --> <input type="hidden" class="gllpZoom" value="15">
            <input type="hidden" class="gllpUpdateButton" value="update map">
        </fieldset>
    </div>
</div>
<div class="col-md-9 col-sm-9 col-xs-12" style="margin-top:10px;">
    <div class="real-estate ">
        <div class="real-estate-detail">
            <h1 class="title">Cho thuê nhà trọ khắp cả nước giá rẻ, diện tích từ 20 - 150 m2. Thích hợp sinh viên, vợ chồng trẻ</h1>
            <div class="main-info">
                <div class="col-md-8 left-info nopadding-xs no-padding-left">
                    <div class="room-detail-info margin-bottom-15">
                        <div class="address">
                            <span class="btn info-label">Địa chỉ</span>
                            <a class="" href="">22 đường số 1 , hiệp Bình Chánh, Thủ Đức</a>
                        </div>
                        <div class="size">
                            <span class="btn info-label">Diện tích</span>
                            <a href="" class="btn info-data">50m<sup>2</sup></a>
                            <span class="btn info-label">Loại phòng</span>
                            <a href="">Phòng trọ, nhà trọ</a>
                        </div>
                        <div class="vs">
                            <span class="btn info-label">Vệ sinh</span>
                            <a href="" class="btn info-data">Khép kín</a>
                            <span class="btn info-label">Số người ở</span>
                            <a href="">1</a>
                        </div>
                        <div class="type">
                            <span class="btn info-label">Giá điện</span>
                            <a href="" class="btn info-data">2500 Nghìn/số</a>
                            <span class="btn info-label">Giá nước</span>
                            <a href="">10000 Nghìn/số</a>
                        </div>
                        <div class="type">
                            <span class="btn info-label">Giá điện</span>
                            <a href="" class="btn info-data">2500 Nghìn/số</a>
                            <span class="btn info-label">Giá nước</span>
                            <a href="">10000 Nghìn/số</a>
                        </div>
                    </div>

                    <div class="margin-bottom-15">
                        <img class="img-responsive" style="height:87px" src="https://thuephongtro.com/Style/images/banner.gif" width="662" alt="">
                    </div>
                    <div class="margin-bottom-15">
                        <img class="img-responsive"  style="height:87px" src="https://thuephongtro.com/Style/images/banner.gif" width="662" alt="">
                    </div>
                </div>
                <div class="col-md-4 no-padding margin-bottom-10">
                    <div class="info-contact">
                        <div class="agentAvatar">
                            <a href="http://mariusn.com/themes/reales-wp/agents/rust-cohle/"><img class="avatar agentAvatarImg" src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/avatar-6.png" alt="Rust Cohle"></a>
                        </div>
                        <div class="info-boss">
                            <div class="info-boss-name" style="padding-bottom: 5px;">
                                <a href="#"><strong class="info-strong-name">Anh Chiến </strong></a>
                            </div>
                            <div class="info-boss-address">
                                <i style="display: table-cell;" class="fa fa-map-marker"></i><span class="info-span-adress">số 16D Ngõ 95 Chùa Bộc, Đống Đa, HN</span>
                            </div>
                            @*<div class="info-boss-address">
                                    <i style="display: table-cell;" class="fa fa-envelope"></i><span class="info-span-adress">tranhoangnam11373@gmail.com</span>
                                </div>*@
                        </div>
                        <div class="info-price">
                            <span>500,000 Đ/Tháng</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="info-help" style="padding: 10px 10px 0;">
                        <div class="info-help-phone" style="margin-bottom: 10px;">
                            <a id="show_phone_bnt" class="btn btn-success btn-block">
                                <i style="margin-right: 10px;" class="fa fa-phone"></i><span>Nhấn để hiện số</span>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="quick-fill hidden-xs">
                        <div class="title-input"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="font-weight:bold">Thuê phòng an toàn</span></div>
                        <ul style="padding-left:15px" class="text-justify">
                            <li>
                                <em>KHÔNG trả tiền trước khi nhận hàng.</em>
                            </li>
                            <li><em>Kiểm tra hàng cẩn thận, đặc biệt với hàng đắt tiền.</em></li>
                            <li><em>Hẹn gặp ở nơi công cộng.</em></li>
                            <li><em>Nếu bạn mua hàng hiệu, hãy gặp mặt tại cửa hàng để nhờ xác minh, tránh mua phải hàng giả.</em></li>
                        </ul>
                    </div>
                    @*<div class="info-boss">
                            <a href=""><span class="fa fa-location-arrow">số 16D Ngõ 95 Chùa Bộc, Đống Đa, HN</span></a>
                        </div>
                        <div class="info-price">
                            <a href=""><span class="fa fa-money"></span>1,000,000 Đ/tháng</a>
                        </div>
                        <div class="info-phone">
                            <a href=""><span class="fa fa-mobile-phone"></span>0917966136</a>
                        </div>
                        <div class="info-feedback">
                            <a class="btn btn-save-room clearfix" style="width:100%" href="#">Lưu tin</a>
                        </div>*@
                </div>
            </div>
            <div class="clearfix padding-top-10"></div>
            <!-- Light Slider -->
            <!-- Product Single - Gallery
            ============================================= -->
            <div class="product-image product-main-image">
                <ul id="product_gallery">
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    <li data-thumb="/Content/img/city.jpg" data-src="/Content/img/city.jpg">
                        <img style="height:100%" src="~/Content/img/city.jpg" />
                    </li>
                </ul>
                <div class="clearfix padB10"></div>
            </div><!-- Product Single - Gallery End -->
            <!-- End Light Slider -->
        </div>
    </div>
</div>
<div class="col-lg-3">

</div>
<script>
    $(document).ready(function () {
        $('#product_gallery').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            currentPagerPosition: 'middle',
            verticalHeight: 390,
            vThumbWidth: 130,
            vThumbHeight: 800,
            thumbMargin: 5,
            slideMargin: 0,
            thumbItem: 5,
            vertical: true,
        });
    });
</script>