@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using BoardingHouse.Web.Models;
<div class="container" ng-controller="headerController">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a class="logo" href="#">
                    <img class="img-responsive" src="~/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
                </a>
            </div>
            <div class="pull-right hidden-xs">
                @if (Request.IsAuthenticated)
                {
                    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                    var currentUser = manager.FindById(User.Identity.GetUserId());
                    <div class="header-top-avatar">
                        <img class="img-responsive" src="http://localhost:6568/Content/images/@currentUser.Avatar">
                    </div>
                    <div class="header-top-user">
                        <div class="user-login"><a class="load_modal_login" href="" ng-click="LogOut();">Đăng Xuất</a></div>
                    </div>
                }
                else
                {
                    <div class="header-top-avatar">
                        <img class="img-responsive" src="http://phongtot.vn/themes/client/img/xavatar.png.pagespeed.ic.Hl7NHK7TGA.png">
                    </div>
                    <div class="header-top-user">
                        <div class="user-login"><a class="load_modal_login" href="" ng-click="openLoginModal();">Đăng nhập</a></div>
                        <div class="user-register load_modal_register">
                            <a href="javascript: void(0);" ng-click="openRegisterModal();">Tạo tài khoản</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ModalLogin.html">
    <div class="modal-header popup_header">
        <button aria-label="Close" data-dismiss="modal" ng-click="close();" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title popup_title" id="messageDel">
            <img src="/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
        </h4>
    </div>
    <div class="line_orn"></div>
    <div class="modal-body login">
        <div class="container-fluid">
            <div class="box">
                <div class="content">
                    <div class="social">
                        <a id="google_login" class="circle google" href="#">
                            <i class="fa fa-google-plus fa-fw"></i>
                        </a>
                        <a id="facebook_login" class="circle facebook" href="#">
                            <i class="fa fa-facebook fa-fw"></i>
                        </a>
                    </div>
                    <div class="division">
                        <div class="line l"></div>
                        <span>Hoặc</span>
                        <div class="line r"></div>
                    </div>
                    <div class="form loginBox">
                        <div id="formLogin" class="">
                            <div class="col-lg-12 form-group no-padding">
                                <input id="email"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập Email"
                                       data-fv-emailaddress="true"
                                       data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                       ng-model="account.Email"
                                       class="form-control"
                                       type="text"
                                       placeholder="Tên tài khoản"
                                       name="email">
                            </div>
                            <div class="col-lg-12 form-group no-padding">
                                <input id="password"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                       ng-model="account.Password"
                                       class="form-control"
                                       type="password"
                                       placeholder="Mật khẩu"
                                       name="password">

                            </div>
                        </div>
                        <input class="btn btn-default btn-login" ng-click="ok();" type="button" value="Đăng Nhập">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer login">
        <div class="forgot login-footer" style="display: block;">
            <span>
                <a href="javascript: showRegisterForm();">Tạo tài khoản</a>
                ?
            </span>
        </div>
        <div class="forgot register-footer" style="display: none;">
            <span>Already have an account?</span>
            <a href="javascript: showLoginForm();">Đăng Nhập</a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="ModalRegister.html">
    <div class="modal-header popup_header">
        <button aria-label="Close" data-dismiss="modal" ng-click="close();" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title popup_title" id="messageDel">
            <img src="/Content/img/xphongtot_logo.png.pagespeed.ic.UejSBOLzW8.png" />
        </h4>
    </div>
    <div class="line_orn"></div>
    <div class="modal-body login">
        <div class="container-fluid">
            <div class="box">
                <div class="content">
                    <div class="social">
                        <a id="google_login" class="circle google" href="#">
                            <i class="fa fa-google-plus fa-fw"></i>
                        </a>
                        <a id="facebook_login" class="circle facebook" href="#">
                            <i class="fa fa-facebook fa-fw"></i>
                        </a>
                    </div>
                    <div class="division">
                        <div class="line l"></div>
                        <span>Hoặc</span>
                        <div class="line r"></div>
                    </div>
                    <div class="form loginBox">
                        <div id="formRegister" class="">
                            <div class="col-lg-12 form-group no-padding">
                                <input id="email"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập Email"
                                       data-fv-emailaddress="true"
                                       data-fv-emailaddress-message="Bạn phải nhập đúng Email"
                                       ng-model="accountRegister.Email"
                                       class="form-control"
                                       type="text"
                                       placeholder="Tên tài khoản"
                                       name="email">
                            </div>
                            <div class="col-lg-12 form-group no-padding">
                                <input id="password"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                       ng-model="accountRegister.Password"
                                       class="form-control"
                                       type="password"
                                       placeholder="Mật khẩu"
                                       name="password">

                            </div>
                            <div class="col-lg-12 form-group no-padding">
                                <input id="ConfirmPassword"
                                       data-fv-notempty="true"
                                       data-fv-notempty-message="Vui lòng nhập mật khẩu"
                                       ng-model="accountRegister.ConfirmPassword"
                                       class="form-control"
                                       type="password"
                                       placeholder="Nhập lại mật khẩu"
                                       name="ConfirmPassword">

                            </div>
                        </div>
                        <input class="btn btn-default btn-login" ng-click="ok();" type="button" value="Đăng kí">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer login">
        <div class="forgot login-footer" style="display: block;">
            <span>
                <a href="javascript: showRegisterForm();">Tạo tài khoản</a>
                ?
            </span>
        </div>
        <div class="forgot register-footer" style="display: none;">
            <span>Already have an account?</span>
            <a href="javascript: showLoginForm();">Đăng Nhập</a>
        </div>
    </div>
</script>
<style>
    .popup_header {
        background: #f4f0e2;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: none;
    }

    .popup_title img {
        color: #FFFFFF;
        display: block;
        margin: 0 auto;
        height: 45px;
        width: 240px;
        text-align: center;
    }

    .login .modal-dialog {
        width: 350px;
    }

    .login .modal-footer {
        border-top: 0;
        margin-top: 0px;
        padding: 10px 20px 20px;
    }

    .login .division {
        float: none;
        margin: 0 auto 18px;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
    }

        .login .division .line {
            border-top: 1px solid #DFDFDF;
            position: absolute;
            top: 10px;
            width: 34%;
        }

            .login .division .line.l {
                left: 0;
            }

            .login .division .line.r {
                right: 0;
            }

        .login .division span {
            color: #424242;
            font-size: 17px;
        }

    .login .box .social {
        float: none;
        margin: 40px auto 5px;
        text-align: center;
    }

    .login .social .circle {
        background-color: #EEEEEE;
        color: #FFFFFF;
        border-radius: 100px;
        display: inline-block;
        margin: 0 17px;
        padding: 15px;
    }

        .login .social .circle .fa {
            font-size: 16px;
        }

    .login .social .facebook {
        background-color: #455CA8;
        color: #FFFFFF;
    }

    .login .social .google {
        background-color: #F74933;
    }

    .login .social .github {
        background-color: #403A3A;
    }

    .login .facebook:hover {
        background-color: #6E83CD;
    }

    .login .google:hover {
        background-color: #FF7566;
    }

    .login .github:hover {
        background-color: #4D4D4d;
        ;
    }

    .login .forgot {
        color: #797979;
        margin-left: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    .login .btn-login, .registerBox .btn-register {
        background-color: #00BBFF;
        border-color: #00BBFF;
        border-width: 0;
        color: #FFFFFF;
        display: block;
        margin: 0 auto;
        padding: 15px 50px;
        text-transform: uppercase;
        width: 100%;
    }

        .login .btn-login:hover, .registerBox .btn-register:hover {
            background-color: #00A4E4;
            color: #FFFFFF;
        }

    .login .form-control {
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
        color: #FFFFFF;
    }

        .login .form-control:hover {
            background-color: rgba(0,0,0,.16);
        }

        .login .form-control:focus {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
            background-color: rgba(0,0,0,0.23);
            color: #FFFFFF;
        }

    .login .box .form input[type="text"], .login .box .form input[type="password"] {
        border-radius: 3px;
        border: none;
        color: #333333;
        font-size: 16px;
        height: 46px;
        margin-bottom: 15px;
        padding: 13px 12px;
        width: 100%;
    }


    @@media (max-width:400px) {
        .login .modal-dialog {
            width: 100%;
        }
    }

    .big-login, .big-register {
        background-color: #00bbff;
        color: #FFFFFF;
        border-radius: 7px;
        border-width: 2px;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        padding: 16px 60px;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
    }

        .big-login:hover {
            background-color: #00A4E4;
            color: #FFFFFF;
        }

    .big-register {
        background-color: rgba(0,0,0,.0);
        color: #00bbff;
        border-color: #00bbff;
    }

        .big-register:hover {
            border-color: #00A4E4;
            color: #00A4E4;
        }
</style>