
<div id="header_nav" class="header-nav">
    <nav class="navbar">
        <div class="menu-top hidden-xs container">
            <div class="navbar-header block-navbar">
                <a class="navbar-brand" href="http://phongtot.vn"><span class="fa fa-home"></span></a>
                <ul class="nav navbar-nav">
                    <li><a href="http://phongtot.vn/phong-tro-nha-tro">Phòng trọ</a></li>
                    <li><a href="http://phongtot.vn/nha-nguyen-can">Nhà nguyên căn</a></li>
                    <li><a href="http://phongtot.vn/nha-mat-pho">Nhà mặt phố</a></li>
                    <li><a href="http://phongtot.vn/van-phong">Văn phòng</a></li>
                    <li><a href="http://phongtot.vn/chung-cu-can-ho">Chung cư, Căn hộ</a></li>
                    <li><a href="http://phongtot.vn/mat-bang-cua-hang">Mặt bằng</a></li>
                    <li><a href="http://phongtot.vn/mat-bang-cua-hang">Hướng dẫn</a></li>
                    <li><a href="http://phongtot.vn/o-ghep">Ở ghép</a></li>
                    <li><a href="http://phongtot.vn/bai-viet">Nạp Coin</a></li>
                    <li><a class="active" href="http://phongtot.vn/bai-viet">Nạp Coin</a></li>
                </ul>
            </div>
        </div> <!--end Menu big-->
        <div class="container hidden-sm hidden-md hidden-lg">
            <div class="row block-navbar">
                <div class="col-md-12 no-padding">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header hidden-sm hidden-md hidden-lg">
                        <div class="clear-fix"></div>
                        <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="offcanvas" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://phongtot.vn"><span class="fa fa-home"></span></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="sb-slidebar sb-left sb-style-overlay hidden-sm hidden-md hidden-lg">
                        <div id="box-action-mobile">
                            <div id="box-tgnavbotton" class="navbar navbar-default hidden-sm hidden-md hidden-lg">
                                <button aria-controls="navbar-collapse-btp" class="navbar-toggle sb-toggle-left" data-toggle="offcanvas" data-target=".navmenu">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="nav-menumobile">
                            <ul class="nav navbar-nav">
                                <li><a href="http://phongtot.vn/phong-tro-nha-tro">Phòng trọ</a></li>
                                <li><a href="http://phongtot.vn/nha-nguyen-can">Nhà nguyên căn</a></li>
                                <li><a href="http://phongtot.vn/nha-mat-pho">Nhà mặt phố</a></li>
                                <li><a href="http://phongtot.vn/van-phong">Văn phòng</a></li>
                                <li><a href="http://phongtot.vn/chung-cu-can-ho">Chung cư, Căn hộ</a></li>
                                <li><a href="http://phongtot.vn/mat-bang-cua-hang">Mặt bằng</a></li>
                                <li><a href="http://phongtot.vn/mat-bang-cua-hang">Hướng dẫn</a></li>
                                <li><a href="http://phongtot.vn/o-ghep">Ở ghép</a></li>
                                <li><a href="http://phongtot.vn/bai-viet">Nạp Coin</a></li>
                                <li><a href="http://phongtot.vn/bai-viet">Đăng Nhập</a></li>
                                <li><a href="http://phongtot.vn/bai-viet">Đăng Ký</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>