<script>
        $(document).ready(function () {
            (function () {

                var counter = 0,
                    $items = document.querySelectorAll('.diy-slideshow figure'),
                    numItems = $items.length;
                var showCurrent = function () {
                    var itemToShow = Math.abs(counter % numItems);
                    [].forEach.call($items, function (el) {
                        el.classList.remove('show');
                    });

                    $items[itemToShow].classList.add('show');
                };
                $("#next").click(function () {
                    counter++;
                    showCurrent();
                });
                $("#prev").click(function () {
                    counter--;
                    showCurrent();
                });
            })();
        });

</script>
<div ng-controller="searchController">
    <div class="search-form hidden-xs hidden-sm">
        <div class="slide-home">
            <div class="diy-slideshow hidden-xs hidden-sm">
                <figure class="show">
                    <img src="~/Content/img/city.jpg" width="100%" height="400" />
                </figure>
                <figure>
                    <img src="~/Content/img/city.jpg" width="100%" height="400" />
                </figure>
                <figure>
                    <img src="~/Content/img/city.jpg" width="100%" height="400" />
                </figure>
                <span id="prev">&laquo;</span>
                <span id="next">&raquo;</span>
            </div>
            <div class="adv-search-1  adv_extended_class" id="adv-search-6">
                <div class="adv6-holder">
                    <div role="tabpanel" class="adv_search_tab" id="tab_prpg_adv6">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="rentals">
                                <form role="search" method="get" action="http://wpresidence.net/advanced-search/">
                                    <div class="col-md-3 margin-bottom-15 categories">
                                        <select ui-select2="select2Options"
                                                ng-model="keywords.RoomType"
                                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                                data-placeholder="Chọn loại phòng">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-3  margin-bottom-15 cities">
                                        <select ui-select2="select2Options"
                                                ng-model="keywords.Province"
                                                ng-change="GetAllDistrict(keywords.Province)"
                                                ng-options="option.provinceid as option.name for option in data.lstProvince"
                                                data-placeholder="Chọn Tỉnh/TP">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 margin-bottom-15 areas">
                                        <select ui-select2="select2Options"
                                                ng-model="keywords.District"
                                                ng-change="GetAllWard(keywords.District)"
                                                ng-options="option.districtid as option.name for option in data.lstDistrict"
                                                data-placeholder="Chọn Quận/Huyện">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-3  margin-bottom-15 property-date">
                                        <select ui-select2="select2Options"
                                                ng-model="keywords.Ward"
                                                ng-options="option.wardid as option.name for option in data.lstWard"
                                                data-placeholder="Chọn Phường/Xã">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-3  margin-bottom-15 property_bedrooms">
                                        <input type="text" placeholder="Từ khóa tìm kiếm......" ng-model="keywords.Keywords" class="form-control" style="height: 40px;border-radius: 0px;" />
                                    </div>
                                    <div class="col-md-6  margin-bottom-15 property_price">
                                        <p style="margin-bottom:0px">
                                            <label for="amount" style="color:#fff;">Khoảng giá:</label>
                                            <span id="amount_2" style="border:0; color:#fff; font-weight:bold;">{{slider.minValue}} triệu đến {{slider.maxValue}}triệu</span>
                                        </p>
                                        <rzslider rz-slider-model="slider.minValue" style="margin-top:0px"
                                                  rz-slider-high="slider.maxValue"
                                                  rz-slider-options="slider.options"></rzslider>
                                    </div>
                                    <div class="col-md-3 margin-bottom-15">
                                        <button type="button" ng-click="Search();" style="width:100%" class="wpresidence_button"><i class="fa fa-search" style="margin-right:15px" aria-hidden="true"></i>Tìm Kiếm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>          
        </div>
    </div>
    <div class="search-form-small hidden-lg hidden-md">
        <div class="search-bar">
            <div class="col-sm-12 col-xs-12 no-padding">
                <div class="search-bar-group">
                    <div class="search-bar-group-title">Chọn loại phòng</div>
                    <div class="col-xs-12 margin-bottom-15">
                        <select ui-select2="select2Options"
                                ng-model="keywords.RoomType"
                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                data-placeholder="Chọn loại phòng">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-12 margin-bottom-15">
                        <input type="text" placeholder="Từ khóa tìm kiếm......" ng-model="keywords.Keywords" class="form-control" style="height: 40px;border-radius: 0px;" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding">
                <div class="search-bar-group">
                    <div class="search-bar-group-title">Chọn khu vực</div>
                    <div class="col-xs-12 col-sm-12 margin-bottom-15">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Province"
                                ng-change="GetAllDistrict(keywords.Province)"
                                ng-options="option.provinceid as option.name for option in data.lstProvince"
                                data-placeholder="Chọn Tỉnh/TP">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 margin-bottom-15">
                        <select ui-select2="select2Options"
                                ng-model="keywords.District"
                                ng-change="GetAllWard(keywords.District)"
                                ng-options="option.districtid as option.name for option in data.lstDistrict"
                                data-placeholder="Chọn Quận/Huyện">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 margin-bottom-15">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Ward"
                                ng-options="option.wardid as option.name for option in data.lstWard"
                                data-placeholder="Chọn Phường/Xã">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding">
                <div class="search-bar-group">
                    <div class="search-bar-group-title">Chọn Khoảng giá</div>
                    <div class="col-xs-12 col-sm-12 margin-bottom-15">
                        <p style="margin-bottom:0px">
                            <label for="amount" style="color:#fff;">Khoảng giá:</label>
                            <span id="amount_2" style="border:0; color:#3C90BE; font-weight:bold;">{{slider.minValue}} triệu đến {{slider.maxValue}}triệu</span>
                        </p>
                        <rzslider rz-slider-model="slider.minValue" style="margin-top:0px"
                                  rz-slider-high="slider.maxValue"
                                  rz-slider-options="slider.options"></rzslider>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 margin-bottom-15">
                <div class="search-btn-submit">
                    <button type="button" class="wpresidence_button"><span style="padding-right:15px" class="fa fa-search"></span>Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</div>
