
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="col-md-9 col-lg-9 col-xs-12">
    <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
            <li>Tất cả sản phẩm</li>
        </ul>
    </div>
    <div class="article-detail">
        <div class="row">
            <div class="col-md-12">
                <div class="article-title">
                    <a href="javascript:void()"><h1>Ngôi nhà 46m² tuyệt đẹp có chi phí hoàn thiện 480 triệu đồng chàng trai 8x xây tặng vợ</h1></a>
                </div>
                <div class="social">
                    <div class="pull-left facebook">
                    </div>
                    <div class="pull-left gplus">
                        <span>
                        </span>
                    </div>
                    <div class="pull-right margin-right-15">
                        <a href="javascript:void();"><span><i class="fa fa-print" aria-hidden="true"></i></span></a>
                    </div>
                    <div class="pull-right margin-right-15">
                        <a href="javascript:void();"><span><i class="fa fa-eye" aria-hidden="true"></i> : </span>8310</a>
                    </div>
                    <div class="pull-right margin-right-15">
                        <a href="javascript:void();"><span><i class="fa fa-comments-o" aria-hidden="true"></i> : </span>10</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="article-hr"><hr></div>
                <div class="article-content">
                    <span>
                        <p>Ngôi nhà của chàng giảng viên Nguyễn Hoàng Hiệp tặng cho vợ sắp cưới không chỉ đẹp như nhà Tây mà còn gây bất ngờ bởi tổng chi phí xây dựng, thiết kế, trang trí chỉ vỏn vẹn ở con số 480 triệu đồng.</p>

                        <ul>
                            <li><a href="http://phongtot.vn/bai-viet/thiet-ke-can-ho-%E2%80%AA%E2%80%AC173m2-cuc-dep-voi-chi-phi-chi-17-trieu-dong">Thiết kế căn hộ ‪‬173m2 cực đẹp với chi phí chỉ 17 triệu đồng</a></li>
                        </ul>

                        <p>Ngôi nhà của anh Nguyễn Hoàng Hiệp - giảng viên khoa Kiến trúc &amp; Quy hoạch trường đại học Xây Dựng, nằm trong một con ngõ nhỏ thuộc quận Thanh Xuân, Hà Nội. Không chỉ sở hữu mặt tiền độc đáo nhờ tầng 2 được ghép từ hàng chục cánh cửa sổ mà nội thất của ngôi nhà 46m² (4x11,5m) này cũng có nhiều điều thú vị và đáng để người xem phải "wow" lên thích thú. &nbsp;</p>

                        <p style="text-align: center;"><img alt="" src="http://media.phongtot.vn/xc5tx4cj/ngoi-nha-46m&amp;sup2;-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo_573edef00d8cd.jpg"></p>

                        <p style="text-align: center;"><em>Chân dung của chàng giảng viên Nguyễn Hoàng Hiệp.​</em></p>

                        <p style="text-align: center;"><img alt="" src="http://media.phongtot.vn/xc5tx4cj/ngoi-nha-46m&amp;sup2;-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo_573edeef982ce.jpg"></p>

                        <p style="text-align: center;"><em>Mặt tiền ngôi nhà</em></p>


                    </span>
                </div>
                <div class="td-a-rec td-a-rec-id-content_bottom  ">
                    <div class="td-all-devices">
                        <a href="#"><img src="http://demo2.mypagevn.com/news_mp101/wp-content/uploads/2016/07/rec728.jpg" class="td-animation-stack-type0-1"></a>
                    </div>
                </div>
                <div class="article-tag">
                    <span><i class="fa fa-tags" aria-hidden="true"></i>: </span>
                    <a href="http://demo2.mypagevn.com/news_mp101/tag/mac-apple/">mac apple</a>,
                    <a href="http://demo2.mypagevn.com/news_mp101/tag/mac-apple/">mac apple</a>,
                    <a href="http://demo2.mypagevn.com/news_mp101/tag/mac-apple/">mac apple</a>,
                </div>
                <div class="article-social-end">
                    <div class="pull-left"><img class="img-responsive" src="http://phongtot.vn/themes/client/img/like_share_footer.png" alt="ngoi-nha-46m²-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo"></div>
                    <div class="pull-right info-article-gplus">
                        <span>
                            <!-- Place this tag where you want the +1 button to render. -->
                            <div id="___plusone_1" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I1_1494987476838" name="I1_1494987476838" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=http%3A%2F%2Fphongtot.vn&amp;url=http%3A%2F%2Fphongtot.vn%2Fbai-viet%2Fngoi-nha-46m%25C2%25B2-tuyet-dep-co-chi-phi-hoan-thien-480-trieu-dong-chang-trai-8x-xay-tang-vo&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.ZWzhN0wp6UM.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCMA7nNiZEb4kbl0wfN_aQx1r_54xw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I1_1494987476838&amp;parent=http%3A%2F%2Fphongtot.vn&amp;pfname=&amp;rpctoken=13074237" data-gapiattached="true" title="+1"></iframe></div>
                        </span>
                    </div>
                    <div class="pull-right info-article-facebook">
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- End Block Social -->
                <div class="article-comment">
                    <div class="article-container-comment-title pull-left"><span>Bình luận</span></div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
                <!-- End Block Comment -->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12">
    <div class="row" style="margin-top:55px;">
        <div class="clearfix"></div>
        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="widget_bestsellers">
                <div class="title_st">
                    <h2>
                        <span class="show_nav_bar1"><i class="fa fa-home"></i></span>
                        Nổi bật
                    </h2>
                </div>
                <div class="propsWidget">
                    <ul class="propList">
                        <li>
                            <a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/">
                                <div class="image">
                                    <img src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-120x120.jpg" alt="Featured Properties">
                                </div><div class="info text-nowrap">
                                    <div class="name" title="Sophisticated Residence">Sophisticated Residence</div>
                                    <div class="address" title="600 40th Ave, San Francisco, 94121, United States">600 40th Ave, San Francisco, 94121, United States</div>
                                    <div class="price"><span class="badge">799,000 Vnđ</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/">
                                <div class="image">
                                    <img src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-120x120.jpg" alt="Featured Properties">
                                </div><div class="info text-nowrap">
                                    <div class="name">Sophisticated Residence</div>
                                    <div class="address">600 40th Ave, San Francisco, 94121, United States</div>
                                    <div class="price"><span class="badge">799,000 Vnđ</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/">
                                <div class="image">
                                    <img src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-120x120.jpg" alt="Featured Properties">
                                </div><div class="info text-nowrap">
                                    <div class="name">Sophisticated Residence</div>
                                    <div class="address">600 40th Ave, San Francisco, 94121, United States</div>
                                    <div class="price"><span class="badge">799,000 Vnđ</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/">
                                <div class="image">
                                    <img src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-120x120.jpg" alt="Featured Properties">
                                </div><div class="info text-nowrap">
                                    <div class="name">Sophisticated Residence</div>
                                    <div class="address">600 40th Ave, San Francisco, 94121, United States</div>
                                    <div class="price"><span class="badge">799,000 Vnđ</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/">
                                <div class="image">
                                    <img src="http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-120x120.jpg" alt="Featured Properties">
                                </div><div class="info text-nowrap">
                                    <div class="name">Sophisticated Residence</div>
                                    <div class="address">600 40th Ave, San Francisco, 94121, United States</div>
                                    <div class="price"><span class="badge">799,000 Vnđ</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="widget_bestsellers">
                <div class="title_st">
                    <h2>
                        <span class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></span>
                        Tin tức
                    </h2>
                </div>
                <div class="box_produt_hot">
                    <ul class="available_pc">

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                </div>
                            </div>
                        </li>
                        <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads nopadding-xs hidden-xs hidden-sm margin-bottom-20" style="margin-top:20px;">
            <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
        </div>
    </div>
</div>
