<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <baseurl value='@Url.Content("~/")'></baseurl>
    <link href="~/Content/assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/slidebar/slidebars.css" rel="stylesheet" />
    <link href="~/Content/css/BoardingHouse.css" rel="stylesheet" />
    <link href="~/Content/css/Responsive.css" rel="stylesheet" />
    <link href="~/bower_components/toastr/toastr.css" rel="stylesheet" />
    <link href="~/bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
    <link href="~/bower_components/angular-block-ui/dist/angular-block-ui.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/formValidation.min.js"></script>
    <script src="~/Content/js/bootstrapextend.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/slidebar/slidebars.min.js"></script>
    <script src="~/bower_components/toastr/toastr.js"></script>
    <script src="~/bower_components/tinymce/tinymce.js"></script>
    <script src="~/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="~/bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="~/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="~/bower_components/ngdropzone/dist/ng-dropzone.js"></script>
    <script src="~/Content/assets/UIBoostrap/ui-bootstrap.js"></script>
    <script src="~/Content/assets/UIBoostrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="~/Content/assets/UIBoostrap/ui-bootstrap-tpls.js"></script>
    <script src="~/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="~/app/Directive/pagerDirective.js"></script>
    <script src="~/bower_components/angularjs-dropdown-multiselect/angularjs-dropdown-multiselect.js"></script>
    <script src="~/app/Service/apiService.js"></script>
    <script src="~/app/Service/BaseService.js"></script>
    <script src="~/app/Service/commonService.js"></script>
    <script src="~/app/Service/fileUploadService.js"></script>
    <script src="~/app/Controller/AccountController/headerController.js"></script>
    <script src="~/app/Controller/SearchController/searchController.js"></script>
    <script src="~/app/Controller/RoomController/CreateRoomController.js"></script>
    <script src="~/app/Controller/RoomController/ListRoomController.js"></script>
    <script src="~/app/Controller/ProfileController/ProfileController.js"></script>
    <script src="~/app/Controller/ProfileController/PVProfileInformationController.js"></script>
    <script src="~/app/Controller/ProfileController/PVProfileListRoom.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $.slidebars();
            });
        })(jQuery);
    </script>
    <script>
        $(document).ready(function () {
            (function () {

                var counter = 0,
                    $items = document.querySelectorAll('.diy-slideshow figure'),
                    numItems = $items.length;
                var showCurrent = function () {
                    var itemToShow = Math.abs(counter % numItems);
                    [].forEach.call($items, function (el) {
                        el.classList.remove('show');
                    });

                    $items[itemToShow].classList.add('show');
                };

                document.querySelector('.next').addEventListener('click', function () {
                    counter++;
                    showCurrent();
                }, false);

                document.querySelector('.prev').addEventListener('click', function () {
                    counter--;
                    showCurrent();
                }, false);

            })();
        });

    </script>
</head>
@using BoardingHouse.Web.AntiForgeryToken
<body>
    <input id="antiForgeryToken" value="@AntiForgeryExtension.GetTokenHeaderValue()" type="hidden" />
    <header id="header" class="header-top">
        @{ Html.RenderAction("_Header", "PatialView"); }
    </header>
    <div class="line_orn"></div>
    @{ Html.RenderAction("_Menu", "PatialView"); }
    <!-- End menu -->
    <!-- Form SEARCH -->
    @{ Html.RenderAction("_Search", "PatialView"); }
    <!-- End Form SEARCH -->
    <div class="clearfix"></div>
    <!-- CONTENT -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <div class="row" style="margin-top:42px;">
                        <div class="col-sm-6 col-md-12 sidebar-ads nopadding-xs hidden-xs hidden-sm">
                            <div class="box_collection_pr">
                                <div class="title_st">
                                    <h2>
                                        <div class="show_nav_bar1"><i class="fa fa-bars"></i></div>
                                        Danh mục
                                    </h2>
                                    <span class="arrow_title visible-md visible-md"></span>
                                    <div class="show_nav_bar hidden-lg hidden-md"></div>
                                </div>
                                <div class="list_item_collection show1">
                                    <ul>
                                        <li class="li_lv1 ">@*<input type="checkbox" class="ais-refinement-list--checkbox" value="Bán hàng">*@ <a href="">Nhà ở</a> </li>
                                        <li class="li_lv1 active "> <a href="">Căn hộ</a> </li>
                                        <li class="li_lv1 "> <a href="">Chung cư</a> </li>
                                        <li class="li_lv1 "> <a href="">Văn phòng</a> </li>
                                        <li class="li_lv1 "> <a href="">Nhà ở dự án</a> </li>
                                        <li class="li_lv1 "> <a href="">Loại khác</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 sidebar-ads nopadding-xs margin-top-20 hidden-xs hidden-sm">
                            <div class="widget_bestsellers">
                                <div class="title_st">
                                    <h2>
                                        <div class="show_nav_bar1"><i class="fa fa-bars"></i></div>
                                        Tin tức
                                    </h2>
                                    <span class="arrow_title visible-md visible-md"></span>
                                    <div class="show_nav_bar hidden-lg hidden-md"></div>
                                </div>
                                <div class="box_produt_hot">
                                    <ul class="available_pc">

                                        <li>
                                            <div class="box_pr_small">
                                                <div class="box_pr_img">
                                                    <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                                    </a>
                                                </div>
                                                <div class="box_pr_title">
                                                    <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="box_pr_small">
                                                <div class="box_pr_img">
                                                    <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                                    </a>
                                                </div>
                                                <div class="box_pr_title">
                                                    <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="box_pr_small">
                                                <div class="box_pr_img">
                                                    <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                                    </a>
                                                </div>
                                                <div class="box_pr_title">
                                                    <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="box_pr_small">
                                                <div class="box_pr_img">
                                                    <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                                    </a>
                                                </div>
                                                <div class="box_pr_title">
                                                    <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="box_pr_small">
                                                <div class="box_pr_img">
                                                    <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">

                                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">

                                                    </a>
                                                </div>
                                                <div class="box_pr_title">
                                                    <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End CONTENT -->
    <!-- FOOTER -->
    <div class="clearfix"></div>
    <footer id="footer" class="footer">
        <div id="back-top">
            <a href="#top" title="Trở về đầu trang">TOP</a>
        </div>
        <div class="widget">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="col-md-7 col-sm-6">
                            <div class="widget-item">
                                <h2 class="widget-title">VỀ CHÚNG TÔI</h2>
                                <ul class="widget-menu first-footer-ul">
                                    <li class="location-title">Rengar mang lại cho bạn một không gian sống hoàn toàn mới với các dòng sản phẩm về nội thất chất lượng cao, chủng loại phong phú và đa dạng.</li>
                                    <li class="widget-address">
                                        <span><i class="fa fa-map-marker theme_color w2"></i> Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Ba Đình - Hà Nội</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-mobile theme_color w2"></i> (04) 6674 2332</span> - <span>(04) 3786 8904</span>
                                    </li>
                                    <li>
                                        <span><i class="fa fa-envelope-o theme_color w2"></i> support@bizweb.vn</span>
                                    </li>
                                </ul>
                                <!-- End .widget-menu -->
                            </div>
                            <!-- End .widget-item -->
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="widget-item">
                                <h2 class="widget-title">CHÍNH SÁCH</h2>
                                <!-- End .widget-title -->
                                <ul class="widget-menu">

                                    <li>
                                        <a href="/chinh-sach"><i class="fa fa-caret-right"></i> Hướng dẫn mua hàng</a>
                                    </li>

                                    <li>
                                        <a href="/chinh-sach"><i class="fa fa-caret-right"></i> Thông tin khách hàng</a>
                                    </li>

                                    <li>
                                        <a href="/chinh-sach"><i class="fa fa-caret-right"></i> Chính sách đãi ngộ</a>
                                    </li>

                                    <li>
                                        <a href="/chinh-sach"><i class="fa fa-caret-right"></i> Thông tin tuyển dụng</a>
                                    </li>

                                    <li>
                                        <a href="/account/register"><i class="fa fa-caret-right"></i> Đắng ký thành viên</a>
                                    </li>

                                </ul>
                                <!-- End .widget-menu -->
                            </div>
                            <!-- End .widget-item -->
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="col-md-5 col-sm-6">
                            <div class="widget-item">
                                <h2 class="widget-title">THÔNG TIN</h2>
                                <!-- End .widget-title -->
                                <ul class="widget-menu">

                                    <li>
                                        <a href="/gioi-thieu"><i class="fa fa-caret-right"></i> Giới thiệu công ty</a>
                                    </li>

                                    <li>
                                        <a href="/chinh-sach"><i class="fa fa-caret-right"></i> Chính sách bảo hành</a>
                                    </li>

                                    <li>
                                        <a href="/dich-vu"><i class="fa fa-caret-right"></i> Trung tâm tư vấn</a>
                                    </li>

                                    <li>
                                        <a href="/huong-dan"><i class="fa fa-caret-right"></i> Câu hỏi thường gặp</a>
                                    </li>

                                    <li>
                                        <a href="/chinh-sach"><i class="fa fa-caret-right"></i> Chính sách đổi trả</a>
                                    </li>

                                </ul>
                                <!-- End .widget-menu -->
                            </div>
                            <!-- End .widget-item -->
                        </div>
                        <div class="col-md-7 col-sm-6">
                            <div class="widget-item">
                                <h2 class="widget-title">ĐĂNG KÝ NHẬN TIN</h2>
                                <!-- End .widget-title -->
                                <ul class="widget-menu">
                                    <li>
                                        Hãy đăng kí theo form dưới đây để nhận được tin tức và khuyến mại từ chúng tôi.
                                    </li>
                                    <li>
                                        <ul class="social_icon">
                                            <li><a href="http://www.facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://plus.google.com/#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="skype"><i class="fa fa-skype"></i></a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <!-- End .widget-menu -->
                            </div>
                            <!-- End .widget-item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .widget -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-sm-push-5">
                        <div class="pull-right">
                            <ul>

                                <li><a href="/" title="Trang chủ">Trang chủ</a></li>

                                <li><a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>

                                <li><a href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>

                                <li><a href="/dich-vu" title="Dịch vụ">Dịch vụ</a></li>

                                <li><a href="/tin-tuc" title="Tin tức">Tin tức</a></li>

                                <li><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-5 col-sm-pull-7">
                        <div class="pull-left copyright">
                            <span>© Bản quyền thuộc về Avent Team | Cung cấp bởi <a href="https://www.bizweb.vn/?utm_source=site-khach-hang&amp;utm_campaign=referral_bizweb&amp;utm_medium=footer&amp;utm_content=cung-cap-boi-bizweb" target="_blank" title="Bizweb">Bizweb</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--END FOOTER -->
</body>
</html>