body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}

a {
    color: #2e3339;
    text-decoration: none;
}

.no-padding-vertical {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding {
    padding: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}
/* Header-Top */

.header-top {
    background: #f4f0e2;
    color: #FFF;
    height: 70px;
}

    .header-top .pull-left img, .header-top .pull-right {
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .header-top .pull-right img {
            height: 50px;
            border-radius: 50%;
        }

.header-top-avatar {
    float: left;
    margin-right: 10px;
}

.header-top-user {
    float: right;
    margin-top: 5px;
}

.header-top .header-top-user .user-login a, .header-top .header-top-user .user-name a {
    font-size: 15px;
    font-weight: 600;
    color: #2e3339;
    text-decoration: none;
}

    .header-top .header-top-user .user-login a:hover, .header-top .header-top-user .user-name a:hover {
        color: #33cc66;
    }

.header-top .header-top-user .user-login, .header-top .header-top-user .user-name {
    margin-bottom: 2px;
}

.header-top .header-top-user .user-register a, .header-top .header-top-user .user-info > a {
    font-size: 14px;
    font-weight: 400;
    color: #828487;
    text-decoration: none;
    text-transform: capitalize;
}

    .header-top .header-top-user .user-register a:hover, .header-top .header-top-user .user-info > a:hover {
        color: #33cc66;
    }

.header-top-user .menu-user-info {
    margin-top: 12px;
    background-color: #e9e9e9;
    min-width: 180px;
}

    .header-top-user .menu-user-info > li > a {
        color: #2e3339;
        font-weight: 600;
        text-transform: capitalize;
        padding: 7px 20px;
    }

.header-top-user .dropdown-menu > li > a:hover, .header-top-user .dropdown-menu > li > a:focus {
    background-image: none;
}

.header-top-user .menu-user-info > li > a:hover {
    background-color: #33cc66;
    color: #FFF;
}

.btn-submit-room {
    border: 2px solid #33cc66;
    padding: 8px 30px;
    color: #33cc66;
    font-size: 16px;
    border-radius: 0px;
    margin-right: 30px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
}

    .btn-submit-room:hover {
        color: #FFF;
        background-color: #33cc66;
    }

/*====================*/
.line_orn {
    height: 4px;
    background: url(../img/orn.png) repeat-x;
    margin-bottom: -4px;
    z-index: 99;
    position: relative;
}
/*End header top*/
.pull-left {
    float: left !important;
}



.header-nav .navbar {
    margin-bottom: 0px;
    border: none;
    background-color: #34495e;
    border-radius: 0;
}

#header_nav .block-navbar {
    background-color: #34495e;
}

.header-nav .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    /*background: #33cc66;*/
}

.header-nav .navbar-right {
    margin-right: -30px;
}

.header-nav .navbar-header > a {
    text-shadow: none;
    color: #FFF;
    font-size: 24px;
}

    .header-nav .navbar-header > a:hover {
        text-shadow: none;
        color: #33cc66;
        /*font-size: 24px;*/
    }

.header-nav .navbar-nav > li > a {
    text-shadow: none;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
}

.header-nav .navbar-nav > li > .active {
    background: #33cc66;
}

.header-nav .nav > li > i {
    font-size: 20px;
    color: #33cc66;
    padding-top: 15px;
    padding-right: 15px;
}

.header-nav .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #33cc66;
}

.header-nav .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #33cc66;
}

.header-nav .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #33cc66;
}

.header-nav .navbar-toggle .icon-bar {
    background-color: #33cc66;
}

.nav-menumobile ul li {
    border-bottom: 1px solid #fff;
}

    .nav-menumobile ul li a {
        display: block;
        font-size: 13px;
        font-weight: bold;
        color: #FFF;
        padding: 10px 30px;
    }

        .nav-menumobile ul li a:hover {
            background: rgba(0, 0, 0, 0.3);
        }

#box-action-mobile {
    background-color: #34495e;
    border-bottom: 1px solid #fff;
    padding: 7px 10px;
}

    #box-action-mobile .navbar-default {
        background: #34495e;
        border: none;
        margin-bottom: 0;
        min-height: 30px !important;
    }

        #box-action-mobile .navbar-default .navbar-toggle {
            border-color: transparent;
        }

            #box-action-mobile .navbar-default .navbar-toggle i {
                color: #fff;
                float: right;
                font-size: 18px;
            }

            #box-action-mobile .navbar-default .navbar-toggle:hover {
                background: black;
            }

            #box-action-mobile .navbar-default .navbar-toggle:focus {
                background: #333;
            }

.sb-slidebar {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 0;
    visibility: hidden;
    background-color: #34495e;
}

/*End menu*/


/*form Search*/


.slide-home {
    position: relative;
}

.diy-slideshow {
    position: relative;
    display: block;
    overflow: hidden;
}

figure {
    position: absolute;
    opacity: 0;
    transition: 1s opacity;
}

figcaption {
    position: absolute;
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px;
}

    figcaption a {
        color: #fff;
    }

figure.show {
    opacity: 1;
    position: static;
    transition: 1s opacity;
}

.next, .prev {
    color: #fff;
    position: absolute;
    background: rgba(0,0,0, .6);
    top: 50%;
    z-index: 1;
    font-size: 2em;
    margin-top: -.75em;
    opacity: .3;
    user-select: none;
}

    .next:hover, .prev:hover {
        cursor: pointer;
        opacity: 1;
    }

.next {
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.prev {
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-form .search-bar {
    display: block;
    position: absolute;
    bottom: 45px;
    height: 300px;
    background: rgba(0,0,0,.6);
    padding-bottom: 40px;
    padding-top: 35px;
}

    .search-form .search-bar .search-bar-group {
        display: inline-block;
        padding-right: 30px;
        padding-left: 20px;
    }

    .search-form .search-bar .search-bar-group-title {
        color: #33cc66;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 25px;
    }

.search-form .search-bar-group .form-control {
    margin-bottom: 25px;
}

.search-form .search-bar-group .btn-search {
    width: 100%;
    background: #33cc66;
    color: #fff;
}

.search-form-small {
    margin-top: 30px;
}

    .search-form-small .search-bar {
        background: rgba(0,0,0, .6);
        float: left;
    }

        .search-form-small .search-bar .search-bar-group {
            padding-top: 10px;
        }

        .search-form-small .search-bar .search-bar-group-title {
            color: #33cc66;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
            padding-left: 10px;
        }

    .search-form-small .search-bar-group .form-control {
        margin-bottom: 15px;
    }

    .search-form-small .search-bar .search-btn-submit button {
        width: 100%;
        margin-bottom: 20px;
    }




/*end form Search*/

.main-content {
    float: left;
    width: 100%;
}

.room-main-content {
    margin-top: 30px;
}

/*Tabs Box*/
.menu-tab-title {
    float: left;
    font-size: 22px;
    margin-top: 5px;
}

    .menu-tab-title span {
        color: #33cc66;
    }

    .menu-tab-title i {
        font-size: 24px;
    }

    .menu-tab-title a {
        color: #2e3339;
        text-decoration: none;
        text-transform: uppercase;
    }

        .menu-tab-title a:hover {
            color: #33cc66;
        }

.nav-tabs {
    border-bottom: 2px solid #DDD;
    margin-right: 0px;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a { /*padding-left: 0px; padding-right: 30px;*/
        font-size: 14px;
        font-weight: 600;
        border: none;
        color: #2e3339;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            font-size: 14px;
            font-weight: 600;
            border: none;
            color: #33cc66 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #33cc66;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 10px 0;
    padding-bottom: 20px;
}

.nav-tabs > li {
    float: right;
}





/*Main Container*/
.room-info-list {
}

    .room-info-list .room-info-item {
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: 20px;
    }

        .room-info-list .room-info-item .room-info {
            padding: 0px;
            border: 0px;
            margin-bottom: 15px;
            position: relative;
            background: #000;
            border-radius: 0px;
        }

            .room-info-list .room-info-item .room-info a > img {
                width: 100%;
                height: 150px;
            }

.room-item-price {
    position: absolute;
    top: 10px;
    right: 0px;
    background: rgba(255,0,71,.8);
    padding: 3px 12px;
}

    .room-item-price a {
        color: #ffF;
        text-decoration: none;
    }

.room-item-vip {
    width: 40px;
    height: 50px;
    display: block;
    text-indent: -1000em;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-size: contain;
    background: url(../img/icon_new_2.png) no-repeat;
}

.room-info-list .room-info-item .caption {
    background: #2E3339;
    color: #FFF;
    font-size: 13px;
    padding: 0px 5px;
}

    .room-info-list .room-info-item .caption .title {
        font-size: 13px;
        overflow: hidden;
        margin-bottom: 5px;
        height: 45px;
    }

        .room-info-list .room-info-item .caption .title h2 {
            font-size: 14px;
            font-weight: 600;
            margin-top: 5px;
            margin-bottom: 0px;
            line-height: 1.42857143;
        }

            .room-info-list .room-info-item .caption .title h2 a {
                text-decoration: none;
                color: #FFF;
            }

    .room-info-list .room-info-item .caption .extra {
        display: block;
        overflow: auto;
        font-size: 12px;
        color: #FFF;
        padding: 2px 0px;
        border-top: 1px solid #484C51;
    }

        .room-info-list .room-info-item .caption .extra a {
            color: #33cc66;
            text-decoration: none;
        }

        .room-info-list .room-info-item .caption .extra .fa {
            margin-right: 5px;
        }

        .room-info-list .room-info-item .caption .extra .type {
            text-align: center;
        }


/*Step Create Room*/

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #33cc66;
    color: #fff;
    cursor: default;
}

.step {
    border: 1px dashed #33cc66;
    background: #f4f0e2;
    float: left;
}

.steps_header {
    border-bottom: solid 3px #33cc66;
    color: #999;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.steps_header_notice {
    color: #33cc66;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.step label {
    font-weight: normal;
}

.quick-fill {
    border: 1px dashed #ffbf00;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

    .quick-fill .quick-fill-infor {
        padding: 5px 20px 8px 20px;
        text-decoration: none;
        color: #fff;
        background-color: #ffbf00;
        font-size: 15px;
        cursor: pointer;
    }

    .quick-fill div.title-input {
        margin-bottom: 10px;
    }

        .quick-fill div.title-input i {
            margin-right: 5px;
            font-size: 30px;
            color: #ffbf00;
        }


/*Profile*/
.profile-nav .user-heading {
    background: #f4f0e2;
    color: #33cc66;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 15px;
    text-align: center;
}

    .profile-nav .user-heading.round a {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 10px solid rgba(255,255,255,0.3);
        display: inline-block;
    }

    .profile-nav .user-heading a img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    .profile-nav .user-heading h1 {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 5px;
    }

    .profile-nav .user-heading p {
        font-size: 12px;
    }

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}

    .profile-userbuttons .btn {
        text-decoration: none;
        color: #fff;
        background-color: #ffbf00;
        font-size: 15px;
        cursor: pointer;
    }

.profile-nav ul {
    margin-top: 1px;
    border: 1px solid #f4f0e2;
}

    .profile-nav ul > li {
        border-bottom: 1px dashed #ebeae6;
        margin-top: 0;
        line-height: 30px;
    }

        .profile-nav ul > li:last-child {
            border-bottom: none;
        }

        .profile-nav ul > li > a {
            border-radius: 0;
            -webkit-border-radius: 0;
            color: #89817f;
            border-left: 5px solid #fff;
        }

            .profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active a {
                background: #f8f7f5 !important;
                border-left: 5px solid #33cc66;
                color: #89817f !important;
            }

        .profile-nav ul > li:last-child > a:last-child {
            border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
        }

        .profile-nav ul > li > a > i {
            font-size: 16px;
            padding-right: 10px;
            color: #bcb3aa;
        }

.box-typical {
    background: #f4f0e2;
    border: 1px solid #f4f0e2;
}

    .box-typical .box-typical-inner {
        padding: 12px 15px;
    }

.profile .profile-info {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #555555;
}

    .profile .profile-info .user-gender {
        float: left;
    }

    .profile .profile-info h4 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #626262;
        -webkit-transition: color 200ms ease;
        -moz-transition: color 200ms ease;
        -ms-transition: color 200ms ease;
        -o-transition: color 200ms ease;
        transition: color 200ms ease;
    }

    .profile .profile-info span {
        font-size: 12px;
        color: #999999;
    }

.list-group {
    margin-top: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.list-group-item:last-child, .panel-footer, .panel > .list-group:last-child .list-group-item:last-child, .popover-content, .ui-tabs-nav.tabs-bottom {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.list-group-icons .list-group-item {
    display: block;
    padding: 15px 10px;
    text-align: center;
    text-overflow: ellipsis;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.font-red, .has-error .help-block, .parsley-required, .text-danger {
    color: #ff5757 !important;
}

.list-group-icons .list-group-item > .fa {
    font-size: 18px;
    display: block;
    float: none;
    margin: 0 auto;
}

li.active a.list-group-item > .fa {
    color: #fff !important;
}

.font-primary {
    color: #1c82e1;
}

li.active a.list-group-item {
    color: #fff;
    background: #33cc66;
}

a.list-group-item:focus, a.list-group-item:hover {
    color: #2b2f33;
    background: #eff4f6;
}

.content-box {
    border-color: #dfe8f1;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin-bottom: 20px;
    background: #f4f0e2;
}

.pad15L {
    padding-left: 15px !important;
}

.pad15R {
    padding-right: 15px !important;
}

.remove-border {
    border: 0 !important;
}

.content-box .bordered-row .form-group {
    border-color: #dfe8f1;
    padding: 20px 0;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;
    border-top-width: 1px;
    border-top-style: dashed;
}

.content-box .form-horizontal .control-label {
    text-align: right;
    font-weight: normal;
}

.content-box-header {
    font-size: 14px;
    text-transform: uppercase;
    margin: -1px -1px 0;
    padding: 15px;
    border-color: transparent;
}



/* === Puclib === */
.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.margin-0 {
    margin: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
