
@{
    ViewBag.Title = "RoomType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="RoomTypeController" >
    <div class="row margin-top-20">
        <div class="col-sm-12">
            <div class="list-content">
                <ul class="add-request ">
                    <li><button ng-click="openModal();" class="btn label-warning">+ Thêm Mới</button></li>
                </ul>
                <div class="margin-top-15" kendo-grid
                     k-options='mainGridOptions'
                     k-data-source='mainGridOptions'
                     k-pageable='{"refresh": true, "pageSizes": true }'
                     k-columns="gridColumns"></div>
            </div>
        </div>
    </div>
</div>