
@{
    ViewBag.Title = "Membership";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="row" style="margin-top:30px" ng-controller="ProfileController">
    <div class="col-lg-3">
        <aside class="profile-nav profile">
            <section class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="http://phongtot.vn/themes/client/img/xavatar.png.pagespeed.ic.Hl7NHK7TGA.png" alt="">
                    </a>
                    <div class="profile-info">
                        <h4 class="profile-name mb5" id="lblGuestFullName">Nam Ckiku</h4>
                    </div>
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-sm"><i class="fa fa-upload" style="margin-right:10px" aria-hidden="true"></i>Đăng Tin</button>
                        <button type="button" class="btn btn-sm"><i class="fa fa-money" style="margin-right:10px" aria-hidden="true"></i>Nạp Thẻ</button>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{'active' : data.MainTab==1}"><a href="#user-tap-1" ng-click="fireLoadProfileInformationEvent();" data-toggle="tab"> <i class="fa fa-user"></i> Thông Tin</a></li>
                    <li><a href="#user-tap-2" data-toggle="tab"> <i class="fa fa-calendar"></i> Tin đã đăng</a></li>
                    <li><a href="#user-tap-3" data-toggle="tab"> <i class="fa fa-edit"></i> Tin đã lưu</a></li>
                </ul>

            </section>
        </aside>
    </div>
    <div class="col-lg-9">
        <div class="tab-content">
            <div class="tab-pane active" id="user-tap-1">
                @{ Html.RenderAction("_PVProfileInformation", "Membership"); }              
            </div>
            <div class="tab-pane fade" id="user-tap-2">
            </div>
        </div>
    </div>
</div>