
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<style>
    .user_info_box {
        height: 84px;
        border-radius: 3px;
        border: 1px solid #f4f0e2;
        padding: 15px 20px;
        margin: 0px 0px 20px 0px;
    }

    .user_info_left {
        width:80%;
        float: left;
    }

    .user_info_img {
        width: 55px;
        height: 55px;
        border-radius: 4px;
        background: url(https://sharecode.vn/Image/avanta.png);
        float: left;
        overflow: hidden;
    }

    .user_info_title {
        color: #00648f;
        width: 30%;
        height: 20px;
        overflow: hidden;
        font-weight: bold;
        float: left;
        margin-left:20px;
        font-size: 12px;
        margin-top: 2px;
    }

    .user_info_info {
        width: 85%;
        height: 20px;
        overflow: hidden;
        float: right;
        font-size: 12px;
    }

    .user_info_upload {
        background: url(https://sharecode.vn/Image/ic_cloud.png) 0 5px no-repeat;
        padding-left: 20px;
        height: 20px;
        overflow: hidden;
        float: left;
    }

    .user_margin40 {
        margin-right: 40px;
    }

    .user_info_upload span {
        color: #ff8401;
    }

    .user_info_date {
        background: url(https://sharecode.vn/Image/ic_date.png) 0 3px no-repeat;
        padding-left: 20px;
        height: 20px;
        overflow: hidden;
        float: left;
    }

        .user_info_date span {
            color: #ff8401;
        }

    .point_box {
        height: 50px;
        width: 15%;
        border: 1px solid #ff8401;
        border-radius: 3px;
        text-align: center;
        color: #ff8401;
        float: right;
        font-size: 14px;
    }

    .point_value {
        font-weight: bold;
        font-size: 18px;
        color: white;
        padding-right: 40px;
        height: 28px;
        padding-top: 4px;
        background: url(https://sharecode.vn/Image/ic_point2.png) #ff8401;
        background-position: right 0px top 0px;
        background-repeat: no-repeat;
    }
</style>
<div class="col-md-9 col-lg-9 col-xs-12">
    <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
            <li><a href="/">Trang cá nhân</a><span class="divider"></span></li>
            <li>NamCkiku</li>
        </ul>
    </div>
    <div class="user_info_box">
        <div class="user_info_left">
            <img src="https://sharecode.vn/FilesUpload/User/2_25_45_thao%20ly.jpg" class="user_info_img" width="50" height="50" alt="Thảo - Thảo Ly" title="Thảo Ly">
            <h1 class="user_info_title">Nam<span>Ckiku</span></h1>
            <div class="user_info_info">
                <span class="user_info_upload user_margin40 hidden-sm hidden-xs">Tin đã đăng: <span>[2]</span></span>
                <span class="user_info_date hidden-sm hidden-xs">Tham gia: <span>4/4/2017</span></span>
            </div>
        </div>
        <div class="point_box">
           <span class="hidden-xs"> Điểm thưởng</span><span class="hidden-md hidden-lg hidden-sm">10</span><div class="point_value"><span class="hidden-xs">10</span></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-xs-12" ng-controller="searchController">
    <div class="row" style="margin-top:55px;">
        <div class="clearfix"></div>
        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="box-search-sidebar">
                <div class="title_st">
                    <h2>
                        <div class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></div>
                        Tìm kiếm
                    </h2>
                </div>
                <div class="box_search">
                    <div class="col-lg-12 margin-bottom-15 categories margin-top-10">
                        <input type="text" placeholder="Từ khóa tìm kiếm......" ng-model="keywords.Keywords" class="form-control" style="height: 40px;border-radius: 0px;" />
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.RoomType"
                                ng-options="option.RoomTypeID as option.RoomTypeName for option in data.lstRoomType"
                                data-placeholder="Chọn loại phòng">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Province"
                                ng-change="GetAllDistrict(keywords.Province)"
                                ng-options="option.provinceid as option.name for option in data.lstProvince"
                                data-placeholder="Chọn Tỉnh/TP">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.District"
                                ng-change="GetAllWard(keywords.District)"
                                ng-options="option.districtid as option.name for option in data.lstDistrict"
                                data-placeholder="Chọn Quận/Huyện">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <select ui-select2="select2Options"
                                ng-model="keywords.Ward"
                                ng-options="option.wardid as option.name for option in data.lstWard"
                                data-placeholder="Chọn Phường/Xã">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <p style="margin-bottom:0px">
                            <label for="amount" style="color:#fff;">Khoảng giá:</label>
                            <span id="amount_2" style="border:0; color:#fff; font-weight:bold;">{{slider.minValue}} triệu đến {{slider.maxValue}}triệu</span>
                        </p>
                        <rzslider rz-slider-model="slider.minValue" style="margin-top:0px"
                                  rz-slider-high="slider.maxValue"
                                  rz-slider-options="slider.options"></rzslider>
                    </div>
                    <div class="col-lg-12 margin-bottom-15 categories">
                        <button type="button" ng-click="Search();" style="width:100%" class="wpresidence_button"><i class="fa fa-search" style="margin-right:15px" aria-hidden="true"></i>Tìm Kiếm</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-12 margin-bottom-20">
            <div class="widget_bestsellers">
                <div class="title_st">
                    <h2>
                        <span class="show_nav_bar1"><i class="fa fa-newspaper-o"></i></span>
                        Tin tức
                    </h2>
                </div>
                <div class="box_produt_hot">
                    <ul class="available_pc">

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu" title="11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/5-cach-dung-sai-chao-chong-dinh-gay-ung-thu-1.jpg?v=1447062492553">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/11-mon-do-gia-dung-tiem-an-nguy-co-gay-ung-thu">11 món đồ gia dụng tiềm ẩn nguy cơ gây ung thư</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015" title="Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa năm 2015">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/nhung-bai-van-xuc-dong-ve-ngay-nha-giao-viet-nam.jpg?v=1447061216243">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/goi-y-nhung-mon-qua-20-11-tang-co-giao-y-nghia-nam-2015">Gợi ý những món quà 20/11 tặng cô giáo ý nghĩa ...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa" title="Vì sao không nên lạm dụng nước hoa?">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/su-dung-va-bao-quan-nuoc-hoa-dung-cach-1.jpg?v=1447059254860">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/vi-sao-khong-nen-lam-dung-nuoc-hoa">Vì sao không nên lạm dụng nước hoa?</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay" title="Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Plus một ngày">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/15233535047-d067d3a247-o.jpg?v=1447059615803">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/nguoi-viet-mua-gan-8-000-chiec-iphone-6s-6s-plus-mot-ngay">Người Việt mua gần 8.000 chiếc iPhone 6s, 6s Pl...</a></h3>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box_pr_small">
                                <div class="box_pr_img">
                                    <a href="/bai-viet-mau" title="ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY">

                                        <img src="//bizweb.dktcdn.net/thumb/small/100/029/262/articles/498-img2.jpg?v=1447059439943">

                                    </a>
                                </div>
                                <div class="box_pr_title">
                                    <h3><a href="/bai-viet-mau">ASUS ZENFONE 5 CHÍNH HÃNG BẮT ĐẦU BÁN TỪ HÔM NAY</a></h3>
                                </div>
                            </div>
                        </li>
                        <div class="more_view"><a href="/san-pham-noi-bat">Xem Thêm</a></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 col-lg-12 sidebar-ads nopadding-xs hidden-xs hidden-sm margin-bottom-20" style="margin-top:20px;">
            <img class="img-responsive" src="https://www.chotot.com/chotot/dist/04721d9197488d2299f33c7090858a51.gif" />
        </div>
    </div>
</div>