<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <title>Trang Quan Tri</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/assets/kendo-ui/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/assets/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/assets/kendo-ui/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
</head>

<body>
    <section id="container">
        <!--header start-->
        @RenderPage("_HeaderAdmin.cshtml")
        <!--header end-->
        <!--sidebar start-->
        <aside>
            @RenderPage("_Sidebar.cshtml")
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        @*<footer class="site-footer">
                <div class="text-center">
                    Trang Quản Trị Admin
                </div>
            </footer>*@
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/js/jquery.scrollTo.min.js"></script>
    <!--common script for all pages-->
    <script src="~/Content/js/common-scripts.js"></script>
    <script src="~/Content/assets/kendo-ui/js/kendo.core.min.js"></script>
    <script src="~/Content/assets/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/Content/assets/kendo-ui/js/kendo.angular.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/controller/RoomController/roomController.js"></script>
    @*@RenderSection("scripts", false)
    {
    }*@
</body>

</html>

