
<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="#">
                <i class="fa fa-dashboard"></i>
                <span>Danh Mục</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>Tin Tức</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/NewsAdmin/ViewNews">Quản lý tin tức</a></li>
                <li><a href="/Administrator/NewsAdmin/Add">Thêm tin tức</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Loại Tin Tức</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/CategoryAdmin/ViewCategory">Quản lý loại tin</a></li>
                <li><a href="/Administrator/CategoryAdmin/Add">Thêm loại tin</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Slider</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/SilderAdmin/ViewSilder">Quản lý Silder</a></li>
                <li><a href="/Administrator/SilderAdmin/Add">Thêm Silder</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Header</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/Header/ViewHeader">Quản lý Header</a></li>
                <li><a href="/Administrator/Header/Add">Thêm Header</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span>Quản lý tài khoản</span>
            </a>
            <ul class="sub">
                <li><a href="/Administrator/Account/ViewAccount">Quản lý tài khoản</a></li>
                <li><a href="/Administrator/Account/Register">Thêm tài khoản</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>